
@{
    ViewBag.Title = "招标管理";
}
<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/style.css" />
<style>
input#searchinput {
    margin-bottom: 20px;
}
</style>
<div class="left-nav">
    <div class="left-nav-con">
        <h1>招标管理</h1>
        <ul class="left-nav-list">
            @*<li><a href='/Bidings' class='active'><i class='icon icon-eye1'></i>招标信息</a></li>
            <li><a href='/BidingApprove'><i class='icon icon-user1'></i>招标审批</a></li>*@
            @Html.Raw(ViewBag.SecondMenu)
        </ul>
    </div>
</div>


<div class="main-con">
    <div class="main-wrap">
        <div class="main-top">
            <div class="search-con2">
                <input type="text" name="keyname" placeholder="请输入关键字" id="searchinput">
                <a class="search-btn"><i class="search-icon meet-icon"></i></a>
            </div>
        </div>
        <div class="wc-container">

            <table class="meet-table text-left">
                <thead class="wc-header">
                    <tr>
                        <!--<td class="check-color" style="width: 20px;">
                            <span class="table-all-check">
                                <input type="checkbox" class="icheck" name="all-check" id="all-check">
                            </span>
                        </td>-->
                        <td style="width:150px;padding:0 5px">项目名称</td>
                        <td style="width:80px;padding:0 5px">项目地点</td>
                        <!--<td style="width:300px;padding:0 5px">招标内容介绍</td>-->
                        <td style="width:120px;padding:0 5px">提交人</td>
                        <td style="width:80px;padding:0 5px">发布时间</td>
                        <td style="width:80px;padding:0 5px">报名截止时间</td>
                        <td style="width:100px;padding:0 5px">预计开标时间</td>
                    </tr>
                </thead>
                <tbody id="tbBidings">
                </tbody>
            </table>
            <div class="page">
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
<script type='text/javascript' src='~/js/jquery-ui.min.js'></script>
<script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
<script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
<script type='text/javascript' src='~/js/js.js'></script>

<script>
    //分页点击
    var cur_num = 1
    var clickpagenum = "" //所点击页码
    //当前所在页码
    var nowpage = 1;
    var page_size = 10
    var pagenum = 12
    Paginator(nowpage, page_size)

    $(".search-btn").on("click", function () {
        Paginator(nowpage, page_size)

    })

    $("#all-check").click(function () {
        if ($("#all-check").is(":checked")) {
            $("input.icheck").prop("checked", true)
        } else {
            $("input.icheck").prop("checked", false)
        }
    })

    function Paginator(page, ps) { 
        var pname = $("#searchinput").val();
        
        $.post("/Bidings/GetBidings", { pageSize: ps, pageIndex: page, pname: pname }, function (data) {
            var jsonData = JSON.parse(data);
            var obj = jsonData.List;
            var htm = "";
            for (var i = 0; i < obj.length; i++) {
                var o = obj[i]
                htm += '<tr class="white-bg" >'+
                    //'<td class="check-color"><input class="icheck" name="id" type="checkbox" value="' + o.id +'" id="checkbox-1" /></td>'+
                    '<td onclick=\'location.href="/Bidings/BidDetail?pid=' + o.id + '";\'>' + o.name + '</td>' +
                    '<td onclick=\'location.href="/Bidings/BidDetail?pid=' + o.id + '";\'>' + o.location + '</td>' +
                   // '<td>' + o.content +'</td>'+
                    '<td onclick=\'location.href="/Bidings/BidDetail?pid=' + o.id + '";\'>' + o.publisher + '</td>' +
                    '<td onclick=\'location.href="/Bidings/BidDetail?pid=' + o.id + '";\' class="gray-time">' + o.publishdate + '</td>' +
                    '<td  onclick=\'location.href="/Bidings/BidDetail?pid=' + o.id + '";\' class="gray-time">' + o.applydate + '</td>' +
                    '<td  onclick=\'location.href="/Bidings/BidDetail?pid=' + o.id + '";\' class="gray-word gray-time">' + o.opendate + '</td>' +
                '</tr>'
            }
            $("#tbBidings").html(htm)
            pages(page, jsonData.PageCount, jsonData.total, ps)
            var oheight = $(".main-con").height();
            $(".main-nav").css("height", oheight + "px")
            $(".left-nav").css("height", oheight + "px")
        });
    }

    
    $.post("/Common/GetBusinessType", {}, function (data) {
        var obj = JSON.parse(data);
        var btype = $("#bType");
        btype.append("<option value=''>项目类型</option>");
        for (var i = 0; i < obj.length; i++) {
            var o = obj[i]
            btype.append("<option value='" + o.id + "'>" + o.name + "</option>")
        }
    });
</script>
