
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>中国铁建房地产行政办公系统</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="~/cssMobile/light/light7.min.css">
    <link rel="stylesheet" href="~/cssMobile/phone.css" />
    <style>
        .list-block ul.ate2 .item-title.t2 {
            font-size: 0.8rem;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav meetp-nav">
                <div class="meetp-header">
                    <a href="index.html"><img src="~/imgMobile/logo.png" /></a><span class="span1">张海燕</span><span class="span2">
                        <a href="login.html">
                            <img src="~/imgMobile/loginout-icon.png" alt="">
                        </a>
                    </span>
                </div>
                <div class="meetp-bar">
                    <a class="button button-link button-nav pull-left back" href="list.html">
                        <span class="icon icon-left"></span>
                    </a>
                    <h1 class="title">定标审批-定标审批详情</h1>
                </div>
            </header>
            <div class="content native-scroll" style="padding-bottom: 3rem;">
                <div class="buttons-tab meetp-buttons-tab">
                    <a href="#tab1" class="tab-link active button">基本信息</a>
                    <a href="#tab2" class="tab-link button">附件</a>
                    <a href="#tab3" class="tab-link button">参标单位</a>
                    <a href="#tab4" class="tab-link button">拟选中标单位</a>
                    <a href="#tab5" class="tab-link button">审核意见</a>
                </div>
                <div class="content-block">
                    <div class="tabs">
                        <div id="tab1" class="tab active">
                            <div class="meetp-content-block">
                                <p></p>
                            </div>
                            <div class="list-block media-list meetp-list-block meetp-deal-list meetp2 sjdlb"
                                 style="padding:0 0.25rem">
                                <dl>
                                    <dt>项目概述：</dt>
                                    <dd>
                                        <p>中原分公司并公司“三项招标”领导小组：</p>
                                        <p> 我部于2017年1月4日上午10：00在中原分公司书记刘振华的监督下进行了市民大道站、中原西路站钻孔桩开标会。项目三项招标领导小组成员参与了本次开标，现将开标、议标等情况向公司报告如下：</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>招标工程 <br>简介：</dt>
                                    <dd>
                                        <p>工程概况：</p>
                                        <p>（1）钻孔灌注桩：设计要求旋挖钻工艺，桩径为1000mm，共计933根。钻孔桩共22026m，钢筋笼共2753t。</p>
                                        <p>（2）招标项目包含工作内容</p>
                                        <p>(1) 钻孔灌注桩: 钻机成孔、钢筋制安、混凝土灌注等施工全过程，泥浆及土方外运另行分包。</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>定标文件 <br>详细说明：</dt>
                                    <dd>
                                        <p>一、议标情况</p>
                                        <p>开标之后，中原分公司及项目部“三项招项“领导小组按照公司下发的劳务招标评标管理办法单独对各施工进行了二次澄清报价（详见附件）</p>
                                        <p>（1）上海思尧建设集团有限公司二次澄清后，报价为6687172元；</p>
                                        <p>（2）四川华业天成建筑工程有限公司二次澄清后，报价为6436455元；</p>
                                        <p>（3）郑州大力神基础工程有限公司二次澄清后，报价为6578682元；</p>
                                        <p>（4）徐州市国顺建筑工程劳务有限公司二次澄清后，报价为6436455元；</p>
                                        <p>（5）四川乾亨建设工程有限公司二次澄清后，不再降价，报价为原投标价格7947992元；</p>
                                        <p>（6）河南鸿宸建设有限公司二次澄清后，报价为6111296元。</p>
                                        <p> 我部认真组织了评标，并且在评标过程中要求相关单位进行了澄清。最后组织分公司领导、项目部领导人员召开了定标会。经商讨选择施工能力强，经验丰富，机械设备为自有且目前为闲置状态、设备为近三年生产，状况良好故障率低、钢筋笼加工能采用滚笼机加工、施工队负责人能够亲自在施工现场负责施工的单位为中标单位。
                                        <p> 议标具体情况如下：</p>
                                    </dd>
                                </dl>

                            </div>

                        </div>
                        <div id="tab2" class="tab">
                            <div class="list-block cards-list meetp-user-list">
                                <ul class="lw-zb">
                                    <li>
                                        <div class="download">
                                            <div class="meet-icon icon-file"></div>
                                            <div class="cc">
                                                开标记标记标记录表.doc
                                                <div class="dowl"><a href="">下载</a>&nbsp;&nbsp;1.2M</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="download">
                                            <div class="meet-icon icon-file"></div>
                                            <div class="cc">
                                                开标记标记标记录表.doc
                                                <div class="dowl"><a href="">下载</a>&nbsp;&nbsp;1.2M</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="download">
                                            <div class="meet-icon icon-file"></div>
                                            <div class="cc">
                                                开标记标记标记录表.doc
                                                <div class="dowl"><a href="">下载</a>&nbsp;&nbsp;1.2M</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="download">
                                            <div class="meet-icon icon-file"></div>
                                            <div class="cc">
                                                开标记标记标记录表.doc
                                                <div class="dowl"><a href="">下载</a>&nbsp;&nbsp;1.2M</div>
                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                        </div>
                        <div id="tab3" class="tab">
                            <div class="list-block media-list meetp-list-block meetp-deal-list meetp2">
                                <ul class="acte ate2">
                                    <li class="onling">
                                        <a href="detail.html" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title t2">集团公司召开合作项目土地经营工作培训会</div>
                                                </div>

                                                <div class="item-text">
                                                    资质等级：<span>地基与基础工程专业</span></span>
                                                </div>
                                                <div class="item-text">
                                                    注册资金：<span>5000万元</span>
                                                </div>
                                                <div class="item-text">
                                                    <span>集团公司召开合作项目土地经营工作培训会集团公司召开合作项目土地经营工作培训会集团公司召开合作项目土地经营工作培训会</span>
                                                </div>
                                                <div class="item-text">
                                                    投标报价：<span class="col02">5000万元</span>
                                                </div>


                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="detail.html" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title t2">集团公司召开合作项目土地经营工作培训会</div>
                                                </div>

                                                <div class="item-text">
                                                    资质等级：<span>地基与基础工程专业</span></span>
                                                </div>
                                                <div class="item-text">
                                                    注册资金：<span>5000万元</span>
                                                </div>
                                                <div class="item-text">
                                                    <span>集团公司召开合作项目土地经营工作培训会集团公司召开合作项目土地经营工作培训会集团公司召开合作项目土地经营工作培训会</span>
                                                </div>
                                                <div class="item-text">
                                                    投标报价：<span class="col02">5000万元</span>
                                                </div>


                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="detail.html" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title t2">集团公司召开合作项目土地经营工作培训会</div>
                                                </div>

                                                <div class="item-text">
                                                    资质等级：<span>地基与基础工程专业</span></span>
                                                </div>
                                                <div class="item-text">
                                                    注册资金：<span>5000万元</span>
                                                </div>
                                                <div class="item-text">
                                                    <span>集团公司召开合作项目土地经营工作培训会集团公司召开合作项目土地经营工作培训会集团公司召开合作项目土地经营工作培训会</span>
                                                </div>
                                                <div class="item-text">
                                                    投标报价：<span class="col02">5000万元</span>
                                                </div>


                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="tab4" class="tab">
                            <div class="list-block media-list meetp-list-block meetp-deal-list meetp2">
                                <ul class="acte ate2 ate3">
                                    <li class="onling">
                                        <a href="#" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title t2">集团公司召开合作项目土地经营工作培训会</div>
                                                </div>


                                                <div class="item-text">
                                                    <span>
                                                        建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁械设备租赁建筑工程机械设备租赁。建筑工程机械设备租赁建筑工程机械设备租赁
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title t2">集团公司召开合作项目土地经营工作培训会</div>
                                                </div>


                                                <div class="item-text">
                                                    <span>赁建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁械设备租赁建筑工程机械设备租赁。建筑工程机工作培训会</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title t2">集团公司召开合作项目土地经营工作培训会</div>
                                                </div>


                                                <div class="item-text">
                                                    <span>赁建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁械设备租赁建筑工程机械设备租赁。建筑工程机培训会</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="tab5" class="tab">
                            <div class="content-block">
                                <div class="meetp-advice-content">
                                    <div class="meetp-advice-title">
                                        <p>
                                            <span style="color: #008cd6">各部门反馈意见：</span><i class="icon feed-icon icon-bhreason"></i>共4条回复信息
                                        </p>
                                    </div>
                                    <ul class="meetp-feedback-list">
                                        <li>
                                            <label class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">
                                                            财务部 张旭<span class="gray-word">2017-10-22  08:45</span>
                                                        </div>
                                                    </div>
                                                    <div class="item-text">资料合格，同意！</div>
                                                </div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">
                                                            财务部 张旭<span class="gray-word">2017-10-22  08:45</span>
                                                        </div>
                                                    </div>
                                                    <div class="item-text">资料合格，同意！</div>
                                                </div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title" 财务部>
                                                            张旭<span class="gray-word">2017-10-22  08:45</span>
                                                        </div>
                                                    </div>
                                                    <div class="item-text">资料合格，同意！</div>
                                                </div>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="meetp-advice-content">
                                    <div class="meetp-advice-title">
                                        <p>
                                            <i class="icon feed-icon icon-srreason"></i>请输入意见：
                                        </p>
                                    </div>
                                    <div class="meetp-advice-text">
                                        <div class="advice-text-wrap">
                                            <textarea name="" rows="" cols="" placeholder="请输入"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row btn-row">

                                    <div class="buttons-row col-80 meetp-buttons-row">
                                        <a href="#" class="button active">通过</a>
                                        <a href="#" class="button active">驳回</a>

                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type='text/javascript' src='~/jsMobile/jquery-1.11.0.js' charset='utf-8'></script>
    <script type='text/javascript' src='~/jsMobile/light/light7.min.js' charset='utf-8'></script>
    <script type="text/javascript" src="~/jsMobile/js.js"></script>
    <script>
        $(function () {

            $(document).on('click', '.meetp-user-list .card .card-header', function () {
                $(this).siblings(".card-content").toggleClass("active");
                $(this).find(".icon").toggleClass("icon-right")
            });

        })
    </script>
</body>

</html>
