
@{
    ViewBag.Title = "定标文件";
}
<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/style.css" />
<style>
    .dbwj-box a .db-con > ul li label {
        width: 80px;
    }

    .dbwj-box a .db-con > ul li wz{
        width: auto;
    }
     .dbwj-box a .db-con > ul li label {
    width: 100px;
}
</style>
<div class="left-nav">
    <div class="left-nav-con">
        <h1>定标文件</h1>
        <ul class="left-nav-list">
            <li><a href='/MakeBidFile' class='active'><i class='icon icon-eye1'></i>定标文件</a></li>
            <li><a href='/MakeBidFile/FileApprove'><i class='icon icon-user1'></i>文件审批</a></li>
        </ul>
    </div>
</div>

<div class="main-con">
    <div class="main-wrap">
        <div class="main-top">
            <div class="search-con2">
                <input type="text" name="keyname" placeholder="请输入关键字"  id="searchinput">
                <a class="search-btn"><i class="search-icon meet-icon"></i></a>
            </div>
        </div>
        <div class="wc-container szwc-container">
            
        </div>
        <div class="page">
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
<script type='text/javascript' src='~/js/jquery-ui.min.js'></script>
<script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
<script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
<script type='text/javascript' src='~/js/js.js'></script>

<script>
    //分页点击
    var cur_num = 1
    var clickpagenum = "" //所点击页码
    //当前所在页码
    var nowpage = 1;
    var page_size = 10
    var pagenum = 12
    Paginator(nowpage, page_size)

    $(".search-btn").on("click", function () {
        Paginator(nowpage, page_size)

    })

    function Paginator(page, ps) {   
        var cname = $("#searchinput").val();

        $.post("/MakeBidFile/GetAllMakeBidFile", { pageSize: ps, pageIndex: page, pname:cname }, function (data) {
            var jsonData = JSON.parse(data);
            var obj = jsonData.List;
            var htm = "";
            for (var i = 0; i < obj.length; i++) {
                var o = obj[i];
                htm+='<div class="dbwj-box">'+
                '<a href="/MakeBidFile/FileDetail?pid=' + o.id + '&status=' + o.status + '">' +
                    '<div class="db-con">'+
                        '<ul>'+
                            '<li>'+
                                '<label for="">项目名称：</label><span class="wz">'+ o.name+'</span>'+
                            '</li>'+
                            '<li>'+
                                '<label for="">发布单位：</label><span class="wz2">' + o.pubdepartment + '<span style="padding-left:10px">' + o.publishdate + '</span></span>' +
                            '</li>'+
                            '<li>'+
                                '<label for="" style="float:left">简述：</label>'+
                                '<div class="wz3">'+o.abstract+'</div>'+
                            '</li>'+
                        '</ul>'+
                    '</div>'+
               '</a>'+
             '</div>';

            }
            $(".wc-container.szwc-container").html(htm)
            console.log(page, jsonData.PageCount, jsonData.total, ps)
            pages(page, jsonData.PageCount, jsonData.total, ps)
        })
    }
</script>
