
@{
    ViewBag.Title = "定标文件";
}
<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/style.css" />

<div class="left-nav">
    <div class="left-nav-con">
        <h1>定标文件</h1>
        <ul class="left-nav-list">
            <li><a href="/MakeBidFile" class="active"><i class="icon icon-eye1"></i>定标文件</a></li>
            @*<li><a href="/MakeBidFile/FileApplication"><i class="icon icon-hand1"></i>文件申请</a></li>*@
            <li><a href="/MakeBidFile/FileApprove"><i class="icon icon-user1"></i>文件审批</a></li>
            @*<li><a href="winning_bid.html"><i class="icon icon-edit1"></i>中标公告</a></li>     
            <li><a href="abandoned_tender.html"><i class="icon icon-fet1"></i>废标</a></li>*@
        </ul>
    </div>
</div>

<div class="main-con">
    <div class="main-wrap">
        <div class="main-top">
            <div class="search-con2">
                <input type="text" name="keyname" placeholder="请输入关键字">
                <a class="search-btn"><i class="search-icon meet-icon"></i></a>
            </div>
        </div>
        <div class="wc-container szwc-container">
            <div class="dbwj-box">
                <a href="/MakeBidFile/FileDetail?fid=1">
                    <div class="xh">04</div>
                    <div class="db-con">
                        <ul>
                            <li>
                                <label for="">项目名称：</label><span class="wz">郑州市民文化服务区土建施工B合同段项目部关于确定市民大道站、中原西路站钻孔桩及钢筋笼制安劳务分包的报告</span>
                            </li>
                            <li>
                                <label for="">发布单位：</label><span class="wz2">郑州市民文化服务区土建施工B合同段 2017-04-05</span>
                            </li>
                            <li>
                                <label for="" style="float:left">工程简介：</label>
                                <div class="wz3">
                                    <p>（1）钻孔灌注桩：设计要求旋挖钻工艺，桩径为1000mm，共计933根。钻孔桩共22026m，钢筋笼共2753t。</p>
                                    <p>（2）招标项目包含工作内容</p>
                                    <p>（3） 钻孔灌注桩: 钻机成孔、钢筋制安、混凝土灌注等施工全过程，泥浆及土方外运另行分包。</p>

                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            <div class="dbwj-box">
                <a href="/MakeBidFile/FileDetail?fid=1">
                    <div class="xh">04</div>
                    <div class="db-con">
                        <ul>
                            <li>
                                <label for="">项目名称：</label><span class="wz">郑州市民文化服务区土建施工B合同段项目部关于确定市民大道站、中原西路站钻孔桩及钢筋笼制安劳务分包的报告</span>
                            </li>
                            <li>
                                <label for="">发布单位：</label><span class="wz2">郑州市民文化服务区土建施工B合同段 2017-04-05</span>
                            </li>
                            <li>
                                <label for="" style="float:left">工程简介：</label>
                                <div class="wz3">
                                    <p>（1）钻孔灌注桩：设计要求旋挖钻工艺，桩径为1000mm，共计933根。钻孔桩共22026m，钢筋笼共2753t。</p>
                                    <p>（2）招标项目包含工作内容</p>
                                    <p>（3） 钻孔灌注桩: 钻机成孔、钢筋制安、混凝土灌注等施工全过程，泥浆及土方外运另行分包。</p>

                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            <div class="dbwj-box">
                <a href="/MakeBidFile/FileDetail?fid=1">
                    <div class="xh">04</div>
                    <div class="db-con">
                        <ul>
                            <li>
                                <label for="">项目名称：</label><span class="wz">郑州市民文化服务区土建施工B合同段项目部关于确定市民大道站、中原西路站钻孔桩及钢筋笼制安劳务分包的报告</span>
                            </li>
                            <li>
                                <label for="">发布单位：</label><span class="wz2">郑州市民文化服务区土建施工B合同段 2017-04-05</span>
                            </li>
                            <li>
                                <label for="" style="float:left">工程简介：</label>
                                <div class="wz3">
                                    <p>（1）钻孔灌注桩：设计要求旋挖钻工艺，桩径为1000mm，共计933根。钻孔桩共22026m，钢筋笼共2753t。</p>
                                    <p>（2）招标项目包含工作内容</p>
                                    <p>（3） 钻孔灌注桩: 钻机成孔、钢筋制安、混凝土灌注等施工全过程，泥浆及土方外运另行分包。</p>

                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            <div class="dbwj-box">
                <a href="/MakeBidFile/FileDetail?fid=1">
                    <div class="xh">04</div>
                    <div class="db-con">
                        <ul>
                            <li>
                                <label for="">项目名称：</label><span class="wz">郑州市民文化服务区土建施工B合同段项目部关于确定市民大道站、中原西路站钻孔桩及钢筋笼制安劳务分包的报告</span>
                            </li>
                            <li>
                                <label for="">发布单位：</label><span class="wz2">郑州市民文化服务区土建施工B合同段 2017-04-05</span>
                            </li>
                            <li>
                                <label for="" style="float:left">工程简介：</label>
                                <div class="wz3">
                                    <p>（1）钻孔灌注桩：设计要求旋挖钻工艺，桩径为1000mm，共计933根。钻孔桩共22026m，钢筋笼共2753t。</p>
                                    <p>（2）招标项目包含工作内容</p>
                                    <p>（3） 钻孔灌注桩: 钻机成孔、钢筋制安、混凝土灌注等施工全过程，泥浆及土方外运另行分包。</p>

                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            <div class="page">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
<script type='text/javascript' src='~/js/jquery-ui.min.js'></script>
<script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
<script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
<script type='text/javascript' src='~/js/js.js'></script>

<script>

    $(function () {
        pages(1, 2, 12, 5)
    })
</script>
