
@{
    ViewBag.Title = "我审核的";
}



<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/style.css" />
<style>
    #bType {
        float: left;
        margin-bottom: 20px;
    }
</style>
<div class="left-nav">
    <div class="left-nav-con">
        <h1>劳务承分包企业</h1>
        <ul class="left-nav-list">
            <li><a href="/Companys"><i class="icon icon-eye"></i>名录内单位</a></li>
            <li><a href="CompanysOut"><i class="icon icon-hand"></i>名录外单位</a></li>
            <li><a href="MyAudit" class="active"><i class="icon icon-edit"></i>我审核的</a></li>
            <li><a href="/Companys/MyRecommend"><i class="icon icon-user"></i>我提交的</a></li>
        </ul>
    </div>
</div>

<div class="main-con">
    <div class="main-wrap">
        <div class="main-top">
            <a class="meet-btn blue-btn sm-btn" href="#" onclick="allcompany()">全部</a>
            <select class="meet-select js-meet-state" id="bType">
                <option value="all">状态</option>
                <option value="1">待处理</option>
                <option value="2">已通过</option>
                <option value="3">被驳回</option>
            </select>
            <div class="search-con2">
                <input type="text" name="keyname" placeholder="请输入关键字" id="searchinput">
                <a class="search-btn"><i class="search-icon meet-icon"></i></a>
            </div>

        </div>
        <div class="wc-container">
            <table class="meet-table text-left meet-table2">
                <thead class="wc-header">
                    <tr>
                        <td class="check-color" style="width:30px">
                            <span class="table-all-check">
                                <input type="checkbox"
                                       class="icheck"
                                       name="all-check"
                                       id="all-check" />
                            </span>
                        </td>
                        <td style="width:200px;padding:0px 10px">劳务承包企业名称</tdstyle="width:15%;padding:0px>
                        <td style="width:240px;padding:0px 10px">资质等级</td>
                        <td style="width:70px">注册资本</td>
                        <td style="width:90px">业务类型</td>
                        <td style="width:90px">法人代表</td>
                        <td style="width:80px">现场负责人</td>
                        <td style="width:100px">审核时间</td>
                        <td style="width:80px">状态</td>
                    </tr>
                </thead>
                <tbody id="tCompanys"></tbody>
            </table>
            <div class="page">
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
    <script type='text/javascript' src="~/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
    <script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
    <script type='text/javascript' src="~/js/js.js"></script>
    <script type='text/javascript'>

        //分页点击
        var cur_num = 1
        var clickpagenum = "" //所点击页码
        //当前所在页码
        var nowpage = 1;
        var page_size = 10
        var pagenum = 12
        Paginator(nowpage, page_size,"","")


        //全部按钮
        function allcompany() {
            Paginator(nowpage, page_size, '', '')
            $("#searchinput").val("");
            $("#bType").val("all")
        }
        var SearchCompanyName = "";
        var type = "";
        //下拉菜单
        $("#bType").change(function () {
            if ($("#bType").val() == "all") {
                type = "";
            } else {
                type = $("#bType").val();
            }
            console.log(type);
            SearchCompanyName = $("#searchinput").val();
            Paginator(nowpage, page_size, SearchCompanyName, type)
            console.log(type);
            console.log(SearchCompanyName);
        })
        //输入框内容更改
        $("#searchinput").change(function () {
            if ($("#bType").val() == "all") {
                type = "";
            } else {
                type = $("#bType").val();
            }
            SearchCompanyName = $("#searchinput").val();
            Paginator(nowpage, page_size, SearchCompanyName, type)
            
            console.log(SearchCompanyName);
        })

        //点击搜索按钮
        $(".search-btn").on("click", function () {
            SearchCompanyName = $("#searchinput").val();
            if ($("#bType").val() == "all") {
                type = "";
            } else {
                type = $("#bType").val();
            }
            console.log(type);
            console.log(SearchCompanyName);
            Paginator(nowpage, page_size, SearchCompanyName, type)
        });
        



        function Paginator(page, ps, sname, stype) {
        
            sname = $("#searchinput").val();
            if ($("#bType").val() == "all") {
                stype = "";
            } else {
                stype = $("#bType").val();
            }
            $.post("/Companys/GetMyAudit", { pageSize: ps, pageIndex: page, cname: sname, ctype: stype }, function (data) {
                if (data == 'no session') {
                    location.href = "/Login";
                }
                var jsonData = JSON.parse(data);
                var obj = jsonData.List;
                var htm = "";
                for (var i = 0; i < obj.length; i++) {
                    var o = obj[i];
                    console.log(o)
                    var auditStatus = "";
                    var statusStyle = "";
                    switch (o.approved) {
                        case 0:
                            auditStatus = "未发布";
                            statusStyle = "status-wcl status-wfb";
                            break;
                        case 1:
                            auditStatus = "待处理";
                            statusStyle = "status-wcl status-shz";
                            break;
                        case 2:
                            auditStatus = "已处理";
                            statusStyle = "status-wcl status-ytg";
                            break;
                        case 3:
                            auditStatus = "被驳回";
                            statusStyle = "status-wcl status-bbh";
                            break;
                        case 4:
                            //auditStatus = "被暂停";
                            //statusStyle = "status-wcl status-bzt";
                            auditStatus = "已通过";
                            statusStyle = "status-wcl status-ytg";
                            break;
                    }
                    htm += '<tr class="white-bg" onclick="location.href=\'/Companys/AuditDetail?id=' + o.id + '&approved=' + o.approved + '\';">' +
                        '<td class="check-color"><input class="icheck" name="id" type="checkbox" value="1" id="checkbox-1"/></td >' +
                        '<td>' + o.name + '</td>' +
                        '<td>' + o.qualificationlevel + '</td>' +
                        '<td>' + o.registeredcapital + '万元</td>' +
                        '<td>' + o.businesstype + '</td>' +
                        '<td>' + o.corporaterepresentative + '</td>' +
                        '<td>' + o.contact + '</td>' +
                        '<td class="gray-word gray-time">' + o.auditdate + '</td>' +
                        '<td class="gray-word "><i class="' + statusStyle + '">' + auditStatus + '</i></td>' +
                        '</tr>';
                }
                $("#tCompanys").html(htm);
                console.log(page, jsonData.PageCount, jsonData.total, ps)
                pages(page, jsonData.PageCount, jsonData.total, ps)
            })
            
        };
    </script>
