
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>劳务招标平台</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="~/cssMobile/light/light7.min.css">
    <link rel="stylesheet" href="~/cssMobile/phone.css" />
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <img src="~/imgMobile/login_bg.jpg" alt="">
            <header class="bar bar-nav meetp-nav">
                <div class="meetp-header meetp-header2">
                    <img src="~/imgMobile/lw-logo.png" />
                </div>
            </header>
            <div class="content native-scroll login-center3">
                <div class="login-tit">
                    <p>劳务招标平台</p>
                </div>
                <div class="loginbar">
                    <div class="loginbar-re">
                        <h3>找回密码</h3>
                        <ul>
                            <li>
                                <input id="txtUserName" name="txtUserName" type="text" placeholder="用户名">
                            </li>
                            <li>
                                <input id="txtCode" name="txtCode" type="text" placeholder="手机号码" class="txtcode">
                                <span><input type="text" id="code" value="获取验证码" class="getCode"></span>
                            </li>
                            <li><i style="cursor:pointer" onclick="checkSendMessage()">获取验证码</i></li>
                        </ul>
                        <div class="btn-box">
                            <div class="col">
                                <a href="repassword.html">
                                    <input id="btnSubmit" name="btnSubmit" class="submit"
                                           type="submit" value="下一步">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lw-footer">
                <p>
                    © 版权所有：中铁十六局集团轨道公司 010-69526115 技术支持:传晨赛博 <a href="http://www.saibo.net.cn" style="color: #fff">www.saibo.net.cn</a>
                </p>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='~/jsMobile/jquery-1.11.0.js' charset='utf-8'></script>
    <script type='text/javascript' src='~/jsMobile/light/light7.min.js' charset='utf-8'></script>
    <script type="text/javascript" src="~/jsMobile/js.js"></script>
    <script>
        function checkSendMessage() {
            $.post("/MobileResetPassword/CheckSendMessage", { account: $("#txtUserName").val(), phone: $("#txtCode").val() }, function (res) {
                alert(res);
            })
        }
        function checkNext() {
            $.post("/MobileResetPassword/CheckNext", { vcode: $("#code").val() }, function (res) {
                if (res == "1")
                    window.location.href = '/ForgetPassword/ResetPassword?code=' + $("#code").val() + '&account=' + $("#userName").val();
                else
                    alert('验证码错误');
            })
        }
    </script>

</body>
</html>