
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>劳务招标平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes " />
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="~/cssMobile/light/light7.min.css">
    <link rel="stylesheet" href="~/cssMobile/phone.css" />
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <img src="~/imgMobile/login_bg.jpg" alt="">
            <header class="bar bar-nav meetp-nav">
                <div class="meetp-header meetp-header2">
                    <img src="~/imgMobile/lw-logo.png" />
                </div>
            </header>
            <div class="content native-scroll login-center3">
                <div class="login-tit">
                    <p>劳务招标平台</p>
                </div>
                <div class="loginbar">
                    <div class="loginbar-re">
                        <h3>输入新密码</h3>
                        <ul>
                            <li>
                                <input id="userPasword" name="txtUserName" type="text" placeholder="请输入新密码">
                            </li>
                            <li>
                                <input id="txtUserName" name="txtUserName" type="text" placeholder="再次输入新密码">
                            </li>
                        </ul>
                        <div class="btn-box">
                            <div class="col">
                                <input id="btnSubmit" name="btnSubmit" class="submit" type="submit" value="确定" onclick="resetPassword()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lw-footer">
                <p>
                    © 版权所有：中铁十六局集团轨道公司 010-69526115 技术支持:传晨赛博 <a href="http://www.saibo.net.cn" style="color: #fff">www.saibo.net.cn</a>
                </p>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='~/jsMobile/jquery-1.11.0.js' charset='utf-8'></script>
    <script type='text/javascript' src='~/jsMobile/light/light7.min.js' charset='utf-8'></script>
    <script type="text/javascript" src="~/jsMobile/js.js"></script>
    <script>
        function resetPassword() {
            var psd = document.getElementById('userPasword').value;
            var psd2 = document.getElementById('txtUserName').value
            if (psd != psd2) {
                alert('两次密码输入不一致')
                return;  
            }
            if (ConfirmPassword()) {
                $.post("/MobileResetPassword/UpdateUserPassword", { password: psd }, function () {
                    window.location.href = "/MobileLogin";
                })
            }
        }
    </script>

</body>
</html>
