
@{
    ViewBag.Title = "数据统计";
}

<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/style.css" />
<link href="~/css/loading.css" rel="stylesheet" />
<div class="left-nav">
    <div class="left-nav-con">
        <h1>统计分析</h1>
        <ul class="left-nav-list">
            <li><a href='#' class='active'><i class='icon icon-eye1'></i>统计分析</a></li>
        </ul>
    </div>
</div>


<div class="main-con">
    <div class="main-wrap">
        <div class="main-top tt02">
            <a class="meet-btn blue-btn sm-btn" href="#" id="allsearch" onclick="allcompany()">全部</a>
            <div class="search-con2">
                <input type="text" name="keyname" placeholder="输入关键字" id="searchinput">
                <a class="search-btn"><i class="search-icon meet-icon"></i></a>
            </div>
            &nbsp;&nbsp;
            <a href="#" class="meet-btn orange-btn small-size sm-btn js-output-excle"  onclick="exportExcel()">
                <i class="xs-meet-icon icon-daoout"></i>导出
            </a>
        </div>
        <div class="wc-container">
            <table class="meet-table text-left">
                <thead class="wc-header">
                    <tr>
                        <td class="check-color" style="width: 80px;">
                            <span class="table-all-check">
                                <input type="checkbox"
                                       name="all-check"
                                        id="checkall"
                                       onclick="selectAll()" />
                            </span>
                        </td>
                        <td>劳务承包企业名称</td>
                        <td>参加次数<span><img src="img/icon-px.png" alt=""></span></td>
                        <td>未参加次数<span><img src="img/icon-px.png" alt=""></span></td>
                        <td>中标次数<span><img src="img/icon-px.png" alt=""></span></td>
                        <td>未中标次数<span><img src="img/icon-px.png" alt=""></span></td>
                        <td>最后参与时间</td>
                    </tr>
                </thead>
                <tbody id="tbCompany">
                </tbody>
            </table>
            
        </div>
        <div class="page">
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
<script type='text/javascript' src='~/js/jquery-ui.min.js'></script>
<script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
<script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
<script type='text/javascript' src='~/js/js.js'></script>
<script type="text/javascript" src="~/js/loading.js"></script>

<script>
    //分页点击
    var cur_num = 1
    var clickpagenum = "" //所点击页码
    //当前所在页码
    var nowpage = 1;
    var page_size = 10
    var pagenum = 12
    Paginator(nowpage, page_size)

    //全部按钮
    function allcompany() {
        $("#searchinput").val("");
        Paginator(nowpage, page_size)
    }

    //点击搜索按钮
    $(".search-btn").on("click", function () {
       Paginator(nowpage, page_size)
    });

    function Paginator(page, ps) {
        var SearchCompanyName = $("#searchinput").val();
        $.post("/Statistic/GetCompaniesStatistic", { pageSize: ps, pageIndex: page, pname: SearchCompanyName }, function (data) {
            var jsonData = JSON.parse(data);
            var obj = jsonData.List;
            var htm = "";
            var o = "";
            for (var i=0; i < obj.length; i++) {
                o = obj[i];
              
                htm += '<tr class="white-bg" style = "cursor: pointer" >' +
                    '<td class="check-color"><input class="icheck" name="id" type="checkbox" value="' + o.id + '" id="checkbox-1"   onchange="checkedid(this)" onclick="setSelectAll()"/></td>' +
                    '<td  onclick=\'location.href=\"/Statistic/StatisticDetail?cid=' + o.id + '";\'>' + o.name + '</td>' +
                    '<td onclick=\'location.href=\"/Statistic/StatisticDetail?cid=' + o.id + '";\'>' + o.jointimes + '</td>' +
                    '<td onclick=\'location.href=\"/Statistic/StatisticDetail?cid=' + o.id + '";\'>' + o.nojointimes + '</td>' +
                    '<td onclick=\'location.href=\"/Statistic/StatisticDetail?cid=' + o.id + '";\'>' + o.winbids + '</td>' +
                    '<td class="gray-time" onclick=\'location.href=\"/Statistic/StatisticDetail?cid=' + o.id + '";\'>' + o.nowinbids + '</td>' +
                    '<td class="gray-time" onclick=\'location.href=\"/Statistic/StatisticDetail?cid=' + o.id + '";\'>' + o.lastjoindate + '</td>' +
                    '</tr >';
            }
            $("#tbCompany").html(htm);
            pages(page, jsonData.pagecount, jsonData.total, ps)
            setSelectAll()
            var cks = $("input.icheck");
            for(var i= 0; i < cks.length;i++){
                for(var j= 0; j < checkID.length; j++) {
                    if (cks[i].value == checkID[j])
                    {
                        cks[i].checked = true;
                        break;
                    }
                   
                }
            }
            
        });
        
    }
    var checkID = [];
    var cids = "";

    //全选、取消全选的事件  
    function selectAll() {
        if ($("#checkall").prop("checked")) {
            $("input.icheck").prop("checked", true);//全选
            for (var i = 0 ; i < $("input.icheck:checked").length; i++) {
                if(!checkID.contains($("input.icheck:checked")[i].value))
                checkID.push($("input.icheck:checked")[i].value)
            }

        } else {
            $("input.icheck").prop("checked", false);  //取消全选   
            for (var i = 0 ; i < $("input.icheck").length; i++) {
                checkID.remove($("input.icheck")[i].value)
            }
        }
        
    }
    //子复选框的事件  
    function setSelectAll() {
        //当没有选中某个子复选框时，SelectAll取消选中  
        if (!$("input.icheck").checked) {
            $("#checkall").prop("checked", false);
            
        }
        var chsub = $("input.icheck").length; //获取subcheck的个数  
        var checkedsub = $("input.icheck:checked").length; //获取选中的subcheck的个数  
        if (chsub != 0) {
            if (checkedsub == chsub) {
                $("#checkall").prop("checked", true);
            }
        }
    }
    function checkedid(boxid) {

        if (boxid.checked) {
            if(!checkID.contains(boxid.value))
                checkID.push(boxid.value)
        } else {
            checkID.remove(boxid.value)
        }
    }
    Array.prototype.remove = function(b) { 
        var a = this.indexOf(b); 
        if (a >= 0) { 
            this.splice(a, 1); 
            return true; 
        } 
        return false; 
    };

    Array.prototype.contains = function (obj) {
        var i = this.length;
        while (i--) {
            if (this[i] === obj) {
                return true;
            }
        }
        return false;
    }
    
    function exportExcel() {
        cids = checkID.join(",")
        return; if (cids == "") {
            swal("请选择要导出的企业！")
            return;
        }
        $('body').loading({
            loadingWidth: 240,
            title: '请稍等!',
            name: 'test',
            discription: '正在导出...',
            direction: 'column',
            type: 'origin',
            // originBg:'#71EA71',
            originDivWidth: 40,
            originDivHeight: 40,
            originWidth: 6,
            originHeight: 6,
            smallLoading: false,
            loadingMaskBg: 'rgba(0,0,0,0.2)'
        });
        $.post("/Statistic/ExportCompanysStat", { cids: cids }, function (expfile) {
           var fpath = String(expfile)
            window.open(fpath)
            removeLoading('test');
        })
    }
</script>
