
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>劳务招标系统</title>
    <link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
    <link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class=" repass-body in_bg">
        <img src="~/img/lw-bg.jpg" alt="">
        <div class="logobar">
            <img src="~/img/lw-logo.png" alt="">
        </div>
        <div class="login-center">
            <div class="login-tit" style="text-align: left;padding-left: 475px;">
                输入新密码
            </div>
            <form action="#">
                <div id="form-itemGroup">
                    <label for="userPasword">请输入新密码：</label>
                    <input type="password" id="userPasword" class="userName" onBlur="checkPassword()"
                           oninput="checkPassword()">
                    <span class="default" id="passwordErr">请输入8到16位字母和数字的组合</span>
                </div>
                <div id="form-itemGroup">
                    <label for="userConfirmPasword">确认新密码：</label>
                    <input type="password" id="userConfirmPasword" class="userName" onBlur="ConfirmPassword()"
                           oninput="ConfirmPassword()">
                    <span class="default" id="conPasswordErr">请再输入一遍密码</span>
                </div>
            </form>
            <div class="next-step">
                <a href="#" style="cursor:pointer; display:block" onclick="resetPassword()">确定</a>
            </div>
        </div>
        <div class="login-foot">
            <span class="copyright">© 版权所有：中铁十六局集团轨道公司  （010）010-69526115</span><span class="support">
                技术支持:传晨赛博  <a href="http://www.saibo.net.cn">www.saibo.net.cn</a>
            </span>
        </div>
    </div>
</body>
</html>

<script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
<script type='text/javascript' src='~/js/jquery-ui.min.js'></script>
<script type="text/javascript">
    function resetPassword() {
        var psd = document.getElementById('userPasword').value;
        alert(psd)
        if (ConfirmPassword()) {
            $.post("/ForgetPassword/UpdateUserPassword", { password: psd }, function () {
                window.location.href = "/Login";
            })
        }
    }
    function checkForm() {
        var nametip = checkUserName();
        var passtip = checkPassword();
        var conpasstip = ConfirmPassword();
        var phonetip = checkPhone();
        return nametip && passtip && conpasstip && phonetip;
    }

    //验证用户名
    function checkUserName() {
        var username = document.getElementById('userName');
        var errname = document.getElementById('nameErr');
        var pattern = /^\w{3,}$/;  //用户名格式正则表达式：用户名要至少三位
        if (username.value.length == 0) {
            errname.innerHTML = "用户名不能为空"
            errname.className = "error"
            return false;
        }
        if (!pattern.test(username.value)) {
            errname.innerHTML = "用户名不规范"
            errname.className = "error"
            return false;
        }
        else {
            errname.innerHTML = "OK"
            errname.className = "success";
            return true;
        }
    }

    //验证密码
    function checkPassword() {
        var userpasswd = document.getElementById('userPasword');
        var errPasswd = document.getElementById('passwordErr');
        var pattern = /^\w{8,16}$/; //密码要在4-8位
        if (!pattern.test(userpasswd.value)) {
            errPasswd.innerHTML = "请输入8到16位字母和数字的组合"
            errPasswd.className = "error"
            return false;
        }
        else {
            errPasswd.innerHTML = "OK"
            errPasswd.className = "success";
            return true;
        }
    }

    //确认密码
    function ConfirmPassword() {
        var userpasswd = document.getElementById('userPasword');
        var userConPassword = document.getElementById('userConfirmPasword');
        var errConPasswd = document.getElementById('conPasswordErr');
        if ((userpasswd.value) != (userConPassword.value) || userConPassword.value.length == 0) {
            errConPasswd.innerHTML = "上下密码不一致"
            errConPasswd.className = "error"
            return false;
        }
        else {
            errConPasswd.innerHTML = "OK"
            errConPasswd.className = "success";
            return true;
        }
    }

    //验证手机号
    function checkPhone() {
        var userphone = document.getElementById('userPhone');
        var phonrErr = document.getElementById('phoneErr');
        var pattern = /^1[34578]\d{9}$/; //验证手机号正则表达式
        if (!pattern.test(userphone.value)) {
            phonrErr.innerHTML = "手机号码不合规范"
            phonrErr.className = "error"
            return false;
        }
        else {
            phonrErr.innerHTML = "OK"
            phonrErr.className = "success";
            return true;
        }
    }
</script>