@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>劳务招标系统</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="~/cssMobile/light/light7.min.css">
    <link rel="stylesheet" href="~/cssMobile/phone.css" />
    <style>
        .bar{
            position: relative;
        }
        .lw-footer{
            padding: 0;
            height: auto;
            width:100%;
        }
        .bar.meetp-nav {
            height: auto;
        }
        .meetp-header2 {
            background-color: #0d6fc9;
            height: auto;
        }
        .bar-nav ~ .content {
            top: 3rem;
        }
    </style>
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <img src="~/imgMobile/login_bg1.jpg" alt="">
            <header class="bar bar-nav meetp-nav">
                <div class="meetp-header meetp-header2">
                    <img src="~/imgMobile/lw-logo.png" />
                </div>
            </header>
            <div class="content native-scroll login-center3">
                <div class="login-tit">
                    <p>劳务招标系统</p>
                </div>
                <div class="loginbar">
                    <div class="loginbar-re">
                        <h3>账号登录</h3>
                        <ul>
                            <li>
                                <input id="txtUserName" name="txtUserName" type="text" placeholder="用户名">
                            </li>
                            <li>
                                <input id="txtPassword" name="txtPassword" type="password" placeholder="密码">
                            </li>
                            <li>
                                <input id="txtCode" name="txtCode" type="text" placeholder="验证码" class="txtcode">
                                <span><img id="imgVerifyCode" src="/MobileLogin/GenerateVerifyCode" alt='换一张图' style="display: block; cursor: pointer; margin-left: 10px;" onclick="this.src = '/MobileLogin/GenerateVerifyCode?tmp=' + Math.random();" width='75' height='30' /></span>
                            </li>
                        </ul>
                        <div class="btn-box">
                            <div class="col">
                                <input id="btnSubmit" name="btnSubmit" class="submit" type="submit" value="登 录" onclick="checkForm()">
                            </div>
                        </div>
                        <div class="oauth-box">
                            <a href="/MobileResetPassword" class="regi">忘记密码</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lw-footer">
                <p>
                    © 版权所有：中铁十六局集团轨道公司 010-69526115 技术支持:传晨赛博 <a href="http://www.saibo.net.cn" style="color: #fff">www.saibo.net.cn</a>
                </p>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='~/jsMobile/jquery-1.11.0.js' charset='utf-8'></script>
    <script type='text/javascript' src='~/jsMobile/light/light7.min.js' charset='utf-8'></script>
    <script type="text/javascript" src="~/jsMobile/js.js"></script>
    <script>
        function checkForm() {

            var username = document.getElementById('txtUserName');
            var userpasswd = document.getElementById('txtPassword');
            var para = "{account:\"" + username.value + "\",psd:\"" + userpasswd.value + "\"}";
            $.post("/MobileLogin/Login", { account: username.value, psd: userpasswd.value }, function (data) {
        
                if (data == "1") {
                    window.location = "/MobileMain";
               
                }
                else
                    alert("用户名或密码错误!");
            });
        }
        $(document).on('focusin', function () {
            //软键盘弹出的事件处理
            $(".lw-footer").css("position", "static")
        });
        $(document).on('focusout', function () {
            $(".lw-footer").css("position", "absolute")
        });
        var clientHeight = document.documentElement.clientHeight || document.body.clientHeight;
        $(window).on('resize', function () {
            var nowClientHeight = document.documentElement.clientHeight || document.body.clientHeight;
            if (clientHeight > nowClientHeight) {
                $(".lw-footer").css("position", "static")
            }
            else {
                //键盘收起的事件处理
                $(".lw-footer").css("position", "absolute")
            }
        });
        var u = navigator.userAgent, app = navigator.appVersion;
        var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端 
        if (isiOS) {
            window.setTimeout(function () {
                window.scrollTo(0, document.body.clientHeight);
            }, 500);
        }
    </script>
</body>
</html>