
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>中国铁建房地产行政办公系统</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="~/cssMobile/light/light7.min.css">
    <link rel="stylesheet" href="~/cssMobile/phone.css" />
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav meetp-nav">
                <div class="meetp-header">
                    <a href="index.html"><img src="~/imgMobile/logo.png" /></a><span class="span1">张海燕</span><span class="span2">
                        <a href="login.html">
                            <img src="~/imgMobile/loginout-icon.png" alt="">
                        </a>
                    </span>
                </div>
                <div class="meetp-bar">
                    <a class="button button-link button-nav pull-left back" href="list.html">
                        <span class="icon icon-left"></span>
                    </a>
                    <h1 class="title">文件审批-文件审批详情</h1>
                </div>
            </header>
            <div class="content native-scroll" style="padding-bottom: 3rem;">
                <div class="buttons-tab meetp-buttons-tab">
                    <a href="#tab1" class="tab-link active button">基本信息</a>
                    <a href="#tab2" class="tab-link button">审核意见</a>
                </div>
                <div class="content-block">
                    <div class="tabs">
                        <div id="tab1" class="tab active">
                            <div class="meetp-content-block">
                                <p></p>
                            </div>
                            <div class="list-block meetp-detail-list  meetp-content-block sjdlb" style="padding:0 0.25rem">
                                <dl>
                                    <!-- Text inputs -->

                                    <dt>项目名称:</dt>
                                    <dd>中铁十六局轨道公司上海项目部</dd>
                                </dl>
                                <dl>
                                    <dt>发布人:</dt>
                                    <dd>王海兵</dd>
                                </dl>
                                <dl>
                                    <dt>发布时间:</dt>
                                    <dd>2018-05-5</dd>
                                </dl>
                                <dl>
                                    <dt>招标文件<br>内容简述:</dt>
                                    <dd>
                                        <p>
                                            建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁。
                                            建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁。建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁。建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁。
                                        </p>
                                    </dd>

                                </dl>
                                <dl>
                                    <dt>招标文档:</dt>
                                    <dd><img src="~/imgMobile/icon-file.png" alt="" style="vertical-align: middle">&nbsp;预览附件</dd>
                                </dl>
                            </div>
                        </div>
                        <div id="tab2" class="tab">
                            <div class="content-block">
                                <div class="meetp-advice-content">
                                    <div class="meetp-advice-title">
                                        <p>
                                            <span style="color: #008cd6">各部门反馈意见：</span><i class="icon feed-icon icon-bhreason"></i>共4条回复信息
                                        </p>
                                    </div>
                                    <ul class="meetp-feedback-list">
                                        <li>
                                            <label class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">
                                                            财务部 张旭<span class="gray-word">2017-10-22  08:45</span>
                                                        </div>
                                                    </div>
                                                    <div class="item-text">资料合格，同意！</div>
                                                </div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">
                                                            财务部 张旭<span class="gray-word">2017-10-22  08:45</span>
                                                        </div>
                                                    </div>
                                                    <div class="item-text">资料合格，同意！</div>
                                                </div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title" 财务部>
                                                            张旭<span class="gray-word">2017-10-22  08:45</span>
                                                        </div>
                                                    </div>
                                                    <div class="item-text">资料合格，同意！</div>
                                                </div>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="meetp-advice-content">
                                    <div class="meetp-advice-title">
                                        <p>
                                            <i class="icon feed-icon icon-srreason"></i>请输入意见：
                                        </p>
                                    </div>
                                    <div class="meetp-advice-text">
                                        <div class="advice-text-wrap">
                                            <textarea name="" rows="" cols="" placeholder="请输入"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row btn-row">

                                    <div class="buttons-row col-80 meetp-buttons-row">
                                        <a href="#" class="button active">通过</a>
                                        <a href="#" class="button active">驳回</a>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type='text/javascript' src='~/jsMobile/jquery-1.11.0.js' charset='utf-8'></script>
    <script type='text/javascript' src='~/jsMobile/light/light7.min.js' charset='utf-8'></script>
    <script type="text/javascript" src="~/jsMobile/js.js"></script>
    <script>
        $(function () {

            $(document).on('click', '.meetp-user-list .card .card-header', function () {
                $(this).siblings(".card-content").toggleClass("active");
                $(this).find(".icon").toggleClass("icon-right")
            });

        })
    </script>
</body>
</html>
