
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>中国铁建房地产行政办公系统</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="~/cssMobile/light/light7.min.css">
    <link rel="stylesheet" href="~/cssMobile/phone.css" />
    <script type='text/javascript' src='~/jsMobile/jquery.js'></script>
    <script>
        //资质荣誉 图片放大
        $(function () {
            var abtab2_img = 1;
            $("a[rel=group]").fancybox({
                'titlePosition': 'over',
                'cyclic': true,
                'titleFormat': function (title, currentArray, currentIndex, currentOpts) {
                    return '<span id="fancybox-title-over">' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? '   ' + title : '') + '</span>';
                },
                onComplete: function () {
                    var w = $(window).width(),
                        pc = w > 1200 ? 1 : 2;
                    if (abtab2_img && pc === 1) {
                        abtab2_img = 0;
                        $('.ab_con_tip').fadeIn().delay(2000).fadeOut();
                    }
                    if (abtab2_img && pc === 2) {
                        abtab2_img = 0;
                        $('.ab_con_tip').text('提示：点击图片两侧可切换，外侧关闭').css({ 'margin-left': -140 }).fadeIn().delay(2000).fadeOut();
                    }
                }
            });
        });
    </script>
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav meetp-nav">
                <div class="meetp-header">
                    <a href="index.html"><img src="~/imgMobile/logo.png" /></a><span class="span1">张海燕</span><span class="span2">
                        <a href="login.html">
                            <img src="~/imgMobile/loginout-icon.png" alt="">
                        </a>
                    </span>
                </div>
                <div class="meetp-bar">
                    <a class="button button-link button-nav pull-left back" href="list.html">
                        <span class="icon icon-left"></span>
                    </a>
                    <h1 class="title">企业审核-企业信息详情</h1>
                </div>
            </header>
            <div class="content native-scroll " style="padding-bottom: 3rem;">
                <div class="buttons-tab meetp-buttons-tab">
                    <a href="#tab1" class="tab-link active button">基本信息</a>
                    <a href="#tab2" class="tab-link button">资质证明</a>
                    <a href="#tab3" class="tab-link button">工作业绩</a>

                    <a href="#tab4" class="tab-link button">审核意见</a>
                </div>
                <div class="content-block">
                    <div class="tabs">
                        <div id="tab1" class="tab active">
                            <div class="meetp-content-block">
                                <p></p>
                            </div>
                            <div class="list-block meetp-detail-list meetp-detail-list2  meetp-content-block sjdlb"
                                 style="padding:0 0.25rem">
                                <dl>
                                    <dt>企业名称:</dt>
                                    <dd>
                                        上海思绕建设集团有限公司 <span class="tjqy">推荐企业</span>&nbsp;&nbsp;<span class="mln">名录内</span>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>注册资金:</dt>
                                    <dd>围护结构工程</dd>
                                </dl>
                                <dl>
                                    <dt>业务范围:</dt>
                                    <dd>建筑工程机械设备租赁、建筑劳务分包、土方建筑工程机械设备租赁、建筑劳务分包、土方</dd>
                                </dl>
                                <dl>
                                    <dt>资质等级:</dt>
                                    <dd>地基与基础工程专业承包</dd>
                                </dl>
                                <dl>
                                    <dt>法人代表:</dt>
                                    <dd>甘霞 <span class="lxdh">联系电话:</span>185555222</dd>
                                </dl>
                                <dl>
                                    <dt>联系人:</dt>
                                    <dd>李功明:<span class="lxdh">联系电话:</span>185555222</dd>
                                </dl>
                                <dl>
                                    <dt>联系地址:</dt>
                                    <dd>上海市普陀区交通路4621弄10号</dd>
                                </dl>

                                <dl>
                                    <dt>施工内容:</dt>
                                    <dd>建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁建筑工程机械设备租赁。</dd>
                                </dl>

                            </div>

                        </div>
                        <div id="tab2" class="tab  pic02 ">
                            <div class="content-block">
                                <div class="ab_con">
                                    <div class="ab_con_tip">提示：方向键切换图片，点击外侧关闭图片。</div>
                                    <div class="ab_tab2_img">
                                        <p style="text-align: center;">安全证书</p>
                                        <div>
                                            <a href="~/imgMobile/zzry1.png" rel="group" class="pirobox_gall"
                                               title="58555555dddd5555">
                                                <img src="~/imgMobile/zzry1.png" alt="">
                                            </a>
                                        </div>
                                        <i>58555555dddd5555</i>
                                    </div>
                                    <div class="ab_tab2_img">
                                        <p style="text-align: center;">营业执照</p>
                                        <div>
                                            <a href="~/imgMobile/zzry2.png" rel="group" class="pirobox_gall" title="f法人身份证">
                                                <img src="~/imgMobile/zzry2.png" alt="">
                                            </a>
                                        </div>
                                        <i>f法人身份证</i>
                                    </div>
                                    <div class="ab_tab2_img">
                                        <p style="text-align: center;">安全证书</p>
                                        <div>

                                            <a href="~/imgMobile/pic01.jpg" rel="group" class="pirobox_gall" title="f法人身份证">
                                                <img src="~/imgMobile/pic01.jpg" alt="">
                                            </a>
                                        </div>
                                        <i>f法人身份证</i>
                                    </div>
                                    <div class="ab_tab2_img">
                                        <p style="text-align: center;">安全证书</p>
                                        <div>
                                            <a href="~/imgMobile/pic01.jpg" rel="group" class="pirobox_gall" title="f法人身份证">
                                                <img src="~/imgMobile/pic01.jpg" alt="">
                                            </a>
                                        </div>
                                        <i>f法人身份证</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab3" class="tab">
                            <div class="content-block right-ss">
                                <div class="meet-user-span" style="display: block;">
                                    <table>
                                        <thead>
                                            <tr>
                                                <td style="width: 10%">序号</td>
                                                <td style="width: 30%">承包内容</td>
                                                <td style="width: 20%">合同金额</td>
                                                <td style="width: 20%">状态</td>
                                                <td style="width:20% ">结算金额</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="white-bg">
                                                <td>01</td>
                                                <td>上海思尧建设集团有限公司</td>

                                                <td>500万</td>
                                                <td>工期延误</td>
                                                <td>500万</td>

                                            </tr>
                                            <tr class="white-bg">
                                                <td>02</td>
                                                <td>上海思尧建设集团有限公司</td>

                                                <td>500万</td>
                                                <td>工期延误</td>
                                                <td>500万</td>

                                            </tr>
                                            <tr class="white-bg">
                                                <td>03</td>
                                                <td>上海思尧建设集团有限公司</td>

                                                <td>500万</td>
                                                <td>工期延误</td>
                                                <td>500万</td>

                                            </tr>
                                            <tr class="white-bg">
                                                <td>04</td>
                                                <td>上海思尧建设集团有限公司</td>

                                                <td>500万</td>
                                                <td>工期延误</td>
                                                <td>500万</td>

                                            </tr>
                                            <tr class="white-bg">
                                                <td>05</td>
                                                <td>上海思尧建设集团有限公司</td>

                                                <td>500万</td>
                                                <td>工期延误</td>
                                                <td>500万</td>

                                            </tr>
                                            <tr class="white-bg">
                                                <td>06</td>
                                                <td>上海思尧建设集团有限公司</td>

                                                <td>500万</td>
                                                <td>工期延误</td>
                                                <td>500万</td>

                                            </tr>
                                            <tr class="white-bg">
                                                <td>07</td>
                                                <td>上海思尧建设集团有限公司</td>

                                                <td>500万</td>
                                                <td>工期延误</td>
                                                <td>500万</td>

                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>

                        <div id="tab4" class="tab">
                            <div class="content-block">
                                <div class="meetp-advice-content">
                                    <div class="meetp-advice-title">
                                        <p>
                                            <span style="color: #008cd6">各部门反馈意见：</span><i class="icon feed-icon icon-bhreason"></i>共4条回复信息
                                        </p>
                                    </div>
                                    <ul class="meetp-feedback-list">
                                        <li>
                                            <label class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">
                                                            财务部 张旭<span class="gray-word">2017-10-22  08:45</span>
                                                        </div>
                                                    </div>
                                                    <div class="item-text">资料合格，同意！</div>
                                                </div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">
                                                            财务部 张旭<span class="gray-word">2017-10-22  08:45</span>
                                                        </div>
                                                    </div>
                                                    <div class="item-text">资料合格，同意！</div>
                                                </div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title" 财务部>
                                                            张旭<span class="gray-word">2017-10-22  08:45</span>
                                                        </div>
                                                    </div>
                                                    <div class="item-text">资料合格，同意！</div>
                                                </div>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="meetp-advice-content">
                                    <div class="meetp-advice-title">
                                        <p>
                                            <i class="icon feed-icon icon-srreason"></i>请输入意见：
                                        </p>
                                    </div>
                                    <div class="meetp-advice-text">
                                        <div class="advice-text-wrap">
                                            <textarea name="" rows="" cols="" placeholder="请输入"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row btn-row">

                                    <div class="buttons-row col-80 meetp-buttons-row">
                                        <a href="#" class="button active">通过</a>
                                        <a href="#" class="button active">驳回</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type='text/javascript' src='~/jsMobile/jquery-1.11.0.js' charset='utf-8'></script>
    <script type='text/javascript' src='~/jsMobile/light/light7.min.js' charset='utf-8'></script>
    <script type="text/javascript" src="~/jsMobile/js.js"></script>
    <script>
        $.config = {
            router: false
        }
        $(function () {
            $(document).on('click', '.meetp-user-list .card .card-header', function () {
                $(this).siblings(".card-content").toggleClass("active");
                $(this).find(".icon").toggleClass("icon-right")
            });

        })
        $('.content .buttons-tab a').click(function () {
            var index = $(this).index();
            $(this).addClass('active').siblings().removeClass('active');
            $('.content-block .tabs .tab').eq(index).addClass('active').siblings().removeClass('active');
        });
    </script>
</body>
</html>