
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>劳务招标管理系统</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="~/cssMobile/light/light7.min.css">
    <link rel="stylesheet" href="~/cssMobile/phone.css" />
    <style>
        .meetp-buttons-tab .button.active {
            background: #29a8ee;
            color: #fff;
            border-bottom: 1px solid #29a8ee;
        }
        .u-buttons-tab-list{
            top:0px;
        }
        .u-content-block {
            margin:0px;
        }
        .button-green{
            border:1px solid green;
                color: green;
        }
        .button-red{
            border:1px solid red;
                color: red;
        }
        .button-gray{
            border:1px solid gray;
                color: gray;
        }
        .meetp-deal-list .acte.ate2 .item-text span.con{
                display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
   
        }
        .bar.meetp-nav.bar-nav2 {
            height: 3rem;
        }
        .bar-nav ~ .content.con1 {
            top: 3rem;
        }
    </style>
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav meetp-nav bar-nav2">
                <div class="meetp-header">
                    <a href="#" onclick="logindex()"><img src="~/imgMobile/logo.png" /></a><span class="span1">@ViewBag.UserName</span>
                    <span class="span2">
                        <a href="#" onclick="logout()">
                            <img src="~/imgMobile/loginout-icon.png" alt="">
                        </a>
                    </span>
                </div>
                <!--<div class="dlwz">欢迎登录劳务招标管理系统</div>
                <div class="meetp-bar">-->
                <!--&lt;!&ndash;<a class="button button-link button-nav pull-left back" href="check.html">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<span class="icon icon-left"></span>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--<h1 class="title">招标审核-招标详情</h1>-->
                <!--</div>-->
            </header>
            <div class="content native-scroll con1 tbq" style="padding-bottom: 3rem;">
                <div class="buttons-tab meetp-buttons-tab meetp-buttons-tab2 tb2 shxt u-buttons-tab-list">
                    <a href="#tab0" class="tab-link button button2" id="type1">企业审批</a>
                    <a href="#tab2" class="tab-link button button2" id="type3">文件审批</a>
                    <a href="#tab1" class="tab-link button button2" id="type2">招标审批</a>
                    <a href="#tab3" class="tab-link button button2" id="type4">定标审批</a>

                </div>
                <div class="content-block tbk u-content-block">
                    <div class="tabs">
                        <div id="tab0" class="tab active">
                            <div class="list-block media-list meetp-list-block meetp-deal-list meetp2">
                                <ul class="acte ate2"></ul>
                            </div>
                            
                        </div>
                        <div id="tab2" class="tab">
                            <div class="list-block media-list meetp-list-block meetp-deal-list meetp2">
                                <ul class="acte ate2"></ul>
                            </div>
                        </div>
                        <div id="tab1" class="tab">
                            <div class="list-block media-list meetp-list-block meetp-deal-list meetp2">
                                <ul class="acte ate2"></ul>
                            </div>
                        </div>
                        <div id="tab3" class="tab">
                            <div class="list-block media-list meetp-list-block meetp-deal-list meetp2">
                                <ul class="acte ate2"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <p>版权所有：中铁十六局集团北京轨道交通工程建设有限公司</p>
            </div>
        </div>
    </div>
    </body>
    <script type='text/javascript' src='~/jsMobile/jquery-1.11.0.js'></script>
    <script type='text/javascript' src='~/jsMobile/light/light7.min.js' ></script>
    <script type="text/javascript" src="~/jsMobile/js.js"></script>
    <script type='text/javascript' src="~/js/js.js"></script>
    <script>
        $(function () { 
            var type = getQueryString('type')

            if (type == 1) {
                $("#type1").addClass("active");
                $("#type1").siblings().removeClass("active");

                $("#tab0").addClass("active");
                $("#tab0").siblings().removeClass("active");
            }
            if (type == 2) {
                $("#type2").addClass("active");
                $("#type2").siblings().removeClass("active");
                $("#tab1").addClass("active");
                $("#tab1").siblings().removeClass("active");

            }
            if (type == 3) {
                $("#type3").addClass("active");
                $("#type3").siblings().removeClass("active");
                $("#tab2").addClass("active");
                $("#tab2").siblings().removeClass("active");

            }
            if (type == 4) {
                $("#type4").addClass("active");
                $("#type4").siblings().removeClass("active");
                $("#tab3").addClass("active");
                $("#tab3").siblings().removeClass("active");
            }
        })
            function getQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
                var context = "";
                if (r != null)
                    context = r[2];
                reg = null;
                r = null;
                return context == null || context == "" || context == "undefined" ? "" : context;
            }
    </script>

<script type="text/javascript">
    var cur_num = 1
    var clickpagenum = "" //所点击页码
    //当前所在页码
    var nowpage = 1;
    var page_size = 10
    var pagenum = 12
    Paginator(nowpage, page_size)
    function Paginator(page, ps) {
        //企业审批
        $.post("/Companys/GetMyAudit", { pageSize: ps, pageIndex: page, cname:"", ctype:"" }, function (data) {
            if (data == 'no session') {
                location.href = "/MobileLogin";
            }
            var jsonData = JSON.parse(data);
            var obj = jsonData.List;
            var htm = "";
            for (var i = 0; i < obj.length; i++) {
                var o = obj[i];
                var auditStatus = "";
                var statusStyle = "";
                switch (o.approved) {
                    case 0:
                        auditStatus = "未发布";
                        statusStyle = "";
                        break;
                    case 1:
                        auditStatus = "待处理";
                        statusStyle = "button-fill";
                        break;
                    case 2:
                        auditStatus = "已处理";
                        statusStyle = "button-green";
                        break;
                    case 3:
                        auditStatus = "被驳回";
                        statusStyle = "button-red";
                        break;
                    case 4:
                        //auditStatus = "被暂停";
                        //statusStyle = "status-wcl status-bzt";
                        auditStatus = "已通过";
                        statusStyle = "button-green";
                        break;
                }
                htm += '<li class="onling">' +
                            '<a href="#" onclick="gotoMobileCompany('+o.id+','+o.approved+')" class="item-link item-content">' +
                                ' <div class="item-inner">' +
                                    '<div class="item-title-row">' +
                                        '<div class="item-title">' + o.name + '</div>' +
                                    '</div>' +
                                    '<div class="item-text">' +
                                        '资质等级：<span>' + o.qualificationlevel + '</span></span>' +
                                    '</div>' +
                                    '<div class="item-text">' +
                                        '业务类型：<span>' + o.businesstype + '</span>注册资金：<span>' + o.registeredcapital + '万元</span>' +
                                    '</div>' +
                                    '<div class="item-text">' +
                                        '法定代表：<span>' + o.corporaterepresentative + '</span>现场负责人：<span>' + o.contact + '</span>' +
                                    '</div>' +
                                    '<div class="item-text deal-num">' +
                                        '<i class="feed-icon feed-xsicon "></i>' +
                                        '<button href="#" class="button ' + statusStyle + ' button-end pull-right">' + auditStatus + '</button>' +
                                ' </div>' +
                            ' </div>' +
                        '</a>' +
                    '</li>';
            }
            $("#tab0 div ul.ate2").html(htm);
        })



        //文件审批
        $.post("/BidingFile/GetMyFileApprove", { pageSize: ps, pageIndex: page, pname: "", status: "" }, function (data) {
            if (data == 'no session') {
                location.href = "/MobileLogin";
            }
            var jsonData = JSON.parse(data);
            var obj = jsonData.List;
            var htm = "";
            var applyStatus = "";
            var applyStyle = "";
            for (var i = 0; i < obj.length; i++) {
                var o = obj[i]
                switch (o.status) {
                    case 0:
                        applyStatus = "未发布";
                        applyStyle = "";
                        break;
                    case 1:
                        applyStatus = "待处理";
                        applyStyle = "button-fill";
                        break;
                    case 2:
                        applyStatus = "已处理";
                        applyStyle = "button-green";
                        break;
                    case 3:
                        applyStatus = "被驳回";
                        applyStyle = "button-red";
                        break;
                    case 4:
                        applyStatus = "被暂停";
                        applyStyle = "button-gray";
                        break;
                }
                htm += '<li class="onling">'+
                        '<a href="#" onclick="gotoMobileBidingFile(' + o.id + ',' + o.status + ')" class="item-link item-content">' +
                            '<div class="item-inner">'+
                                 '<div class="item-title-row">'+
                                    '<div class="item-title">'+o.name+'</div>' +
                                 '</div>'+
                                 '<div class="item-text">'+
                                    '提交人：<span>'+ o.publisher+'</span>  <span>'+o.publishdate+'</span>' +
                                 '</div>'+
                                 '<div class="item-text deal-num">'+
                                    '<i class="feed-icon feed-xsicon "></i>'+
                                     '<button href="#" class="button button-end ' + applyStyle + ' pull-right">' + applyStatus + '</button>' +
                                 '</div>'+
                              '</div>'+
                          '</a>'+
                      '</li>';
            }
            $("#tab2 div ul.ate2").html(htm);
        });

        //招标审批
        $.post("/BidingApprove/GetBidingApproves", { pageSize: ps, pageIndex: page, pname: "", status:"" }, function (data) {

            if (data == 'no session') {
                location.href = "/MobileLogin";
            }
            var jsonData = JSON.parse(data);
            var obj = jsonData.List;
            var htm = "";
            for (var i = 0; i < obj.length; i++) {
                var o = obj[i];
                var applyStatus = "";
                var applyStyle = "";
                switch (o.status) {
                    case 0:
                        applyStatus = "未发布";
                        applyStyle = "";
                        break;
                    case 1:
                        applyStatus = "待处理";
                        applyStyle = "button-fill";
                        break;
                    case 2:
                        applyStatus = "已通过";
                        applyStyle = "button-green";
                        break;
                    case 3:
                        applyStatus = "被驳回";
                        applyStyle = "button-red";
                        break;
                    case 4:
                        applyStatus = "被暂停";
                        applyStyle = "button-gray";
                        break;
                }
               htm += '<li class="onling">' +
                        '<a href="#" onclick="gotoMobileBid(' + o.id + ',' + o.status + ')" class="item-link item-content">' +
                            '<div class="item-inner">' +
                                '<div class="item-title-row">' +
                                    '<div class="item-title">' + o.name + '</div>' +
                                '</div>' +
                                '<div class="item-text">' +
                                    '提交人：<span>' + o.publisher + ' ' + o.publishdate + '</span>' +
                                '</div>' +
                                '<div class="item-text">' +
                                    '项目地点：<span>' + o.location + '</span>' +
                                '</div>' +
                                '<div class="item-text">' +
                                    '报名截止时间：<span>' + o.applydate + '</span>' +
                                '</div> ' +
                                               '<div class="item-text">' +
                                    '预计开标时间：<span>' + o.opendate + '</span>' +
                                '</div> ' +
                                '<div class="item-text deal-num">' +
                                    '<i class="feed-icon feed-xsicon "></i>' +
                                    '<button href="#" class="button ' + applyStyle + ' button-end pull-right">'+applyStatus+'</button>'+
                                '</div>' +
                            '</div>' +
                        '</a>' +
                    '</li>';

            }

            $("#tab1 div ul.ate2").html(htm);
        });

        //定标审批
        $.post("/MakeBidFile/GetMyMakeBidFiles", { pageSize: ps, pageIndex: page, pname:"", fstatus: "" }, function (data) {
            var jsonData = JSON.parse(data);
            var obj = jsonData.List;
            var htm = "";
            var applyStatus = "";
            var applyStyle = "";

            for (var i = 0; i < obj.length; i++) {
                var o = obj[i]
                switch (o.status) {
                    case 0:
                        applyStatus = "未发布";
                        applyStyle = "";
                        break;
                    case 1:
                        applyStatus = "待处理";
                        applyStyle = "button-fill";
                        break;
                    case 2:
                        applyStatus = "已通过";
                        applyStyle = "button-green";
                        break;
                    case 3:
                        applyStatus = "被驳回";
                        applyStyle = "button-red";
                        break;
                    case 4:
                        applyStatus = "被暂停";
                        applyStyle = "button-gray";
                        break;
                }
                htm += '<li class="onling">' +
                            '<a href="#" onclick="gotoMobileMakeBidFile(' + o.id + ',' + o.status + ')"  class="item-link item-content">' +
                                    '<div class="item-inner">' +
                                    '<div class="item-title-row">' +
                                        '<div class="item-title">' + o.name + '</div>' +
                                    '</div>' +
                                    '<div class="item-text">' +
                                        '发布单位：<span>' + o.pubdepartment + '&nbsp;&nbsp;&nbsp;&nbsp;' + o.publishdate + '</span>' +
                                    '</div>' +
                                    '<div class="item-text deal-num">' +
                                        '<i class="feed-icon feed-xsicon"></i>' +
                                        '<button href="#" class="button ' + applyStyle + ' button-end pull-right">' + applyStatus + '</button>' +
                                    '</div>' +
                                '</div>'+
                            '</a>' +
                        '</li>';
            }
            $("#tab3 div ul.ate2").html(htm);
        })
    }
</script>

<script>
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
        var context = "";
        if (r != null)
            context = r[2];
        reg = null;
        r = null;
        return context == null || context == "" || context == "undefined" ? "" : context;
    }
    function gotoCompany() {
        $(document).on('click', '.meetp-user-list .card .card-header', function () {
            $(this).siblings(".card-content").toggleClass("active");
            $(this).find(".icon").toggleClass("icon-right")

        });
        $('.content .buttons-tab a').click(function () {
            var index = $(this).index();
            $(this).addClass('active').siblings().removeClass('active');
            $('.content-block .tabs .tab').eq(index).addClass('active').siblings().removeClass('active');
        });
    }

    //进入企业审批详情页
    function gotoMobileCompany(id,approved) {
        window.location.href = '/MobileCompany?id=' + id + '&approved=' + approved ;
        gotoCompany()
    }

    //进入文件审批详情页
    function gotoMobileBidingFile(id, status) {
        window.location.href = '/MobileBidingFile?pid=' + id + '&status=' + status;
        gotoCompany()
    }
    //进入招标审批详情页
    function gotoMobileBid(id, status){
        window.location.href = '/MobileBid?pid=' + id + '&status=' + status;
        gotoCompany()
    }
    //进入定标审批详情页
    function gotoMobileMakeBidFile(id, status) {
        window.location.href = '/MobileMakeBidFile?pid=' + id + '&status=' + status;
        gotoCompany()
    }
    function logout() {
        if (confirm("要确定系统么？")) {
            window.location.href = "/MobileLogin";
        }
    }
    function logindex() {
        window.location.href = "/MobileMain";
    }
</script>

    
