
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>中国铁建房地产行政办公系统</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="~/cssMobile/light/light7.min.css">
    <link rel="stylesheet" href="~/cssMobile/phone.css" />
    <style>
        .meetp-buttons-tab .button.active {
            background: #29a8ee;
            color: #fff;
            border-bottom: 1px solid #29a8ee;
        }
    </style>
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav meetp-nav bar-nav2">
                <div class="meetp-header">
                    <a href="index.html"><img src="~/imgMobile/logo.png" /></a><span class="span1">张海燕</span><span class="span2">
                        <a href="login.html">
                            <img src="~/imgMobile/loginout-icon.png" alt="">
                        </a>
                    </span>
                </div>
                <div class="dlwz">欢迎登录劳务招标管理系统</div>
                <!--<div class="meetp-bar">-->
                <!--&lt;!&ndash;<a class="button button-link button-nav pull-left back" href="check.html">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<span class="icon icon-left"></span>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--<h1 class="title">招标审核-招标详情</h1>-->
                <!--</div>-->
            </header>
            <div class="content native-scroll con1 tbq" style="padding-bottom: 3rem;">
                <div class="buttons-tab meetp-buttons-tab meetp-buttons-tab2 tb2 shxt">
                    <a href="#tab0" class="tab-link active button button2">企业审批</a>
                    <a href="#tab1" class="tab-link button button2">招标审批</a>
                    <a href="#tab2" class="tab-link  button button2">文件审批</a>
                    <a href="#tab3" class="tab-link button button2">定标审批</a>

                </div>
                <div class="content-block tbk">
                    <div class="tabs">
                        <div id="tab0" class="tab active">
                            <div class="list-block media-list meetp-list-block meetp-deal-list meetp2">
                                <ul class="acte ate2">
                                    <li class="onling">
                                        <a href="qysh.html" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">集团公司召开合作项目土地经营工作培训会</div>
                                                </div>
                                                <div class="item-text">
                                                    推荐人：<span>张霞 2017-10-2 22:45</span></span>
                                                </div>
                                                <div class="item-text">
                                                    资质等级：<span>地基与基础工程专业</span></span>
                                                </div>
                                                <div class="item-text">
                                                    业务类型：<span>围护结构工程</span>注册资金：<span>5000万元</span>
                                                </div>
                                                <div class="item-text">
                                                    法定代表：<span>甘肃</span>联系人：<span>李功明 2017-12-20</span>
                                                </div>

                                                <div class="item-text deal-num">
                                                    <i class="feed-icon feed-xsicon "></i>
                                                    <button href="#" class="button button-fill button-end pull-right">
                                                        待处理
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="qysh.html" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">集团公司召开合作项目土地经营工作培训会</div>
                                                </div>
                                                <div class="item-text">
                                                    资质等级：<span>地基与基础工程专业</span>业务类型：<span>围护结构工程</span>注册资金：<span>5000万元</span>
                                                </div>
                                                <div class="item-text">
                                                    法定代表：<span>甘肃</span>联系人：<span>李功明 2017-12-20</span>
                                                </div>

                                                <div class="item-text deal-num">
                                                    <i class="feed-icon feed-xsicon "></i>
                                                    <button href="#" class="button button-fill button-end pull-right">
                                                        待处理
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="qysh.html" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">集团公司召开合作项目土地经营工作培训会</div>
                                                </div>
                                                <div class="item-text">
                                                    资质等级：<span>地基与基础工程专业</span>业务类型：<span>围护结构工程</span>注册资金：<span>5000万元</span>
                                                </div>
                                                <div class="item-text">
                                                    法定代表：<span>甘肃</span>联系人：<span>李功明 2017-12-20</span>
                                                </div>

                                                <div class="item-text deal-num">
                                                    <i class="feed-icon feed-xsicon "></i>
                                                    <button href="#" class="button button-fill button-end pull-right">
                                                        待处理
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="tab1" class="tab">
                            <div class="list-block media-list meetp-list-block meetp-deal-list meetp2">
                                <ul class="acte ate2">
                                    <li class="onling">
                                        <a href="zbsh.html" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">1集团公司召开合作项目土地经营工作培训会</div>
                                                </div>
                                                <div class="item-text">
                                                    发布人：<span>张霞 2018-10-22 24：00</span>
                                                </div>
                                                <div class="item-text">
                                                    项目地点：<span>b北京</span>
                                                </div>
                                                <div class="item-text">
                                                    招标内容：<span>中铁十六局轨道公司上海项目部</span>
                                                </div>
                                                <div class="item-text">
                                                    报名时间：<span>2017-2-22</span>预计开标时间：<span>2017-12-20</span>
                                                </div>

                                                <div class="item-text deal-num">
                                                    <i class="feed-icon feed-xsicon "></i>
                                                    <button href="#" class="button button-fill button-end pull-right">
                                                        待处理
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="zbsh.html" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">集团公司召开合作项目土地经营工作培训会</div>
                                                </div>
                                                <div class="item-text">
                                                    项目地点：<span>b北京</span>
                                                </div>
                                                <div class="item-text">
                                                    招标内容：<span>中铁十六局轨道公司上海项目部</span>
                                                </div>
                                                <div class="item-text">
                                                    报名时间：<span>2017-2-22</span>预计开标时间：<span>2017-12-20</span>
                                                </div>


                                                <div class="item-text deal-num">
                                                    <i class="feed-icon feed-xsicon "></i>
                                                    <button href="#" class="button button-fill button-end pull-right">
                                                        待处理
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="zbsh.html" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">集团公司召开合作项目土地经营工作培训会</div>
                                                </div>
                                                <div class="item-text">
                                                    项目地点：<span>b北京</span>
                                                </div>
                                                <div class="item-text">
                                                    招标内容：<span>中铁十六局轨道公司上海项目部</span>
                                                </div>
                                                <div class="item-text">
                                                    报名时间：<span>2017-2-22</span>预计开标时间：<span>2017-12-20</span>
                                                </div>


                                                <div class="item-text deal-num">
                                                    <i class="feed-icon feed-xsicon "></i>
                                                    <button href="#" class="button button-fill button-end pull-right">
                                                        待处理
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="tab2" class="tab">
                            <div class="list-block media-list meetp-list-block meetp-deal-list meetp2">
                                <ul class="acte ate2">
                                    <li class="onling">
                                        <a href="wjsp.html" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">温州市域铁路集团公司召开合作项目土地经营工作培训会</div>
                                                </div>
                                                <div class="item-text">
                                                    发布人：<span>第三项目管理部</span>  <span>王海兵</span>  <span>2017-04-05</span>
                                                </div>


                                                <div class="item-text deal-num">
                                                    <i class="feed-icon feed-xsicon "></i>
                                                    <button href="#" class="button button-fill button-end pull-right">
                                                        待处理
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="wjsp.html" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">温州市域铁路集团公司召开合作项目土地经营工作培训会</div>
                                                </div>
                                                <div class="item-text">
                                                    发布人：<span>第三项目管理部</span>  <span>王海兵</span>  <span>2017-04-05</span>
                                                </div>


                                                <div class="item-text deal-num">
                                                    <i class="feed-icon feed-xsicon "></i>
                                                    <button href="#" class="button button-fill button-end pull-right">
                                                        待处理
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="wjsp.html" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">温州市域铁路集团公司召开合作项目土地经营工作培训会</div>
                                                </div>
                                                <div class="item-text">
                                                    发布人：<span>第三项目管理部</span>  <span>王海兵</span>  <span>2017-04-05</span>
                                                </div>


                                                <div class="item-text deal-num">
                                                    <i class="feed-icon feed-xsicon "></i>
                                                    <button href="#" class="button button-fill button-end pull-right">
                                                        待处理
                                                    </button>
                                                </div>
                                            </div>

                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="tab3" class="tab">
                            <div class="list-block media-list meetp-list-block meetp-deal-list meetp2">
                                <ul class="acte ate2">
                                    <li class="onling">
                                        <a href="dbsp.html" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">温州市域铁路集团公司召开合作项目土地经营工作培训会</div>
                                                </div>
                                                <div class="item-text">
                                                    发布单位：<span>郑州市民文化区</span>   <span>2017-04-05</span>
                                                </div>


                                                <div class="item-text deal-num">
                                                    <i class="feed-icon feed-xsicon "></i>
                                                    <button href="#" class="button button-fill button-end pull-right">
                                                        待处理
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="dbsp.html" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">温州市域铁路集团公司召开合作项目土地经营工作培训会</div>
                                                </div>
                                                <div class="item-text">
                                                    发布单位：<span>郑州市民文化区</span>   <span>2017-04-05</span>
                                                </div>


                                                <div class="item-text deal-num">
                                                    <i class="feed-icon feed-xsicon "></i>
                                                    <button href="#" class="button button-fill button-end pull-right">
                                                        待处理
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="dbsp.html" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">温州市域铁路集团公司召开合作项目土地经营工作培训会</div>
                                                </div>
                                                <div class="item-text">
                                                    发布单位：<span>郑州市民文化区</span>   <span>2017-04-05</span>
                                                </div>


                                                <div class="item-text deal-num">
                                                    <i class="feed-icon feed-xsicon "></i>
                                                    <button href="#" class="button button-fill button-end pull-right">
                                                        待处理
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="footer">
                <p>版权所有：中铁十六局集团北京轨道交通工程建设有限公司</p>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='~/jsMobile/jquery-1.11.0.js' charset='utf-8'></script>
    <script type='text/javascript' src='~/jsMobile/light/light7.min.js' charset='utf-8'></script>
    <script type="text/javascript" src="~/jsMobile/js.js"></script>

</body>
</html>
