
@{
    ViewBag.Title = "新建项目";
}


<link rel="stylesheet" href="~/css/jquery-ui-timepicker-addon.css" />
<link rel="stylesheet" href="~/js/ztree/zTreeStyle/zTreeStyle.css" type="text/css">
<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/style.css" />
<style>
    .block-left {
        padding-right: 0;
    }

    .meet-form.meet-form9.meet-form3 .form-tr:hover {
        background: #eaf6fd;
    }
</style>

<div class="left-nav">
    <div class="left-nav-con">
        <h1>项目管理</h1>
        <ul class="left-nav-list">
            <li><a href="/Projects" class="active"><i class="icon icon-eye1"></i>项目列表</a></li>
        </ul>
    </div>
</div>

<div class="main-con">
    <div class="main-wrap">
        <div class="main-top top-bottom">
            <span class="left-line"></span>
            <span class="page-title">添加项目</span>
        </div>
        <div class="wc-container app-dt">
            <div class="wc-nav">
            </div>
            <div class="block-left ">
                <form action="" name="form1" method="post" class="js-form">
                    <table class="meet-form meet-form9 meet-form3">
                        <tbody>
                            <tr class="form-tr">
                                <td class="form-lable"><span class="red-word">*</span>项目名称：</td>
                                <td>
                                    <input name="roomInfoName" type="text" value=""
                                           class="has-clear-input input input3" />
                                </td>
                            </tr>
                            <tr class="form-tr">
                                <td class="form-lable"><span class="red-word">*</span>项目类型：</td>
                                <td>
                                    <div class="form-item  sel-required">
                                        <select class="select radius-sel dropdown" name="iofnName"
                                                id="iofnName">
                                            <option value="">围护结构工程</option>
                                            <option value="">围护结构工程</option>
                                        </select>

                                    </div>
                                </td>
                            </tr>
                            <tr class="form-tr">
                                <td class="form-lable"><span class="red-word">*</span>项目地点：</td>
                                <td>
                                    <input name="roomInfoName" type="text" value=""
                                           class="has-clear-input input input5" />
                                </td>
                            </tr>
                            <tr class="form-tr ">
                                <td class="form-lable">工程介绍：</td>
                                <td>
                                    <textarea class="txt02" style="padding: 0 5px;"></textarea>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <div class="form-tr-btn">
                    <button type="submit" class="meet-btn big-btn lightblue-btn js-submit">提交</button>
                    <button type="submit" class="meet-btn big-btn lightblue-btn js-submit">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="~/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="~/js/ztree/jquery.ztree.core.js"></script>
<script type="text/javascript" src="~/js/ztree/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
<script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
<script type="text/javascript" src="~/js/select/jquery.easydropdown.js"></script>
<script type="text/javascript" src="~/js/upload.js"></script>
<script type="text/javascript" src="~/js/js.js"></script>
<script type="text/javascript" src="~/js/up.js"></script>
