
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>中国铁建房地产行政办公系统</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="~/cssMobile/light/light7.min.css">
    <link rel="stylesheet" href="~/cssMobile/phone.css" />
    <style>
        .bar.meetp-nav.bar-nav2 {
            height: 8rem;
        }
.bar-nav ~ .content.con1 {
    top: 8rem;
}
    </style>
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav meetp-nav bar-nav2">
                <div class="meetp-header">
                    <a href="#" onclick="logindex()"><img src="~/imgMobile/logo.png" /></a>
                    <span class="span1">@ViewBag.UserName</span>
                    <span class="span2">
                        <a href="#" onclick="logout()">
                            <img src="~/imgMobile/loginout-icon.png" alt="">
                        </a>
                    </span>
                </div>
                <div class="dlwz">
                    <p>欢迎登录劳务招标管理系统</p>
                    <p>@ViewBag.UserDepartment @ViewBag.UserName</p>
                </div>
                <!--<div class="meetp-bar">-->
                <!--&lt;!&ndash;<a class="button button-link button-nav pull-left back" href="check.html">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<span class="icon icon-left"></span>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--<h1 class="title">招标审核-招标详情</h1>-->
                <!--</div>-->
            </header>
            <div class="content native-scroll con1" style="padding-bottom: 3rem;">
                <div class="sh-list">
                    <ul>
                        <li>
                            <p class="sz company">0</p>
                            <p class="wz">企业审核</p>
                        </li>
                        <li>
                            <p class="sz bidfile">0</p>
                            <p class="wz">文件审核</p>
                        </li>
                        <li>
                            <p class="sz bid">0</p>
                            <p class="wz">招标审核</p>
                        </li>
                        <li>
                            <p class="sz makebid">0</p>
                            <p class="wz">定标审核</p>
                        </li>
                    </ul>
                </div>
                <div class="sh-list2">
                    <ul>
                        <li>
                            <a href="#" onclick="gotolist(1)">
                                <p class="sz"><img src="~/imgMobile/tb01.png" alt=""></p>
                                <p class="wz">企业审批</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="gotolist(3)">
                                <p class="sz"><img src="~/imgMobile/tb03.png" alt=""></p>
                                <p class="wz">文件审批</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="gotolist(2)">
                                <p class="sz">
                                    <img src="~/imgMobile/tb02.png" alt="">
                                </p>
                                <p class="wz">招标审批</p>
                            </a>
                        </li>

                        <li>
                            <a href="#" onclick="gotolist(4)">
                                <p class="sz"><img src="~/imgMobile/tb04.png" alt=""></p>
                                <p class="wz">定标审批</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer">
                <p>版权所有:中铁十六局集团北京轨道交通工程建设有限公司</p>
            </div>
        </div>
    </div>

    <script type='text/javascript' src='~/jsMobile/jquery-1.11.0.js'></script>
    <script type='text/javascript' src='~/jsMobile/light/light7.min.js'></script>
    <script type="text/javascript" src="~/jsMobile/js.js"></script>
    <script>
        //待审核记录
        $.get("/Main/GetToBeDone", {}, function (data) {
            var obj = JSON.parse(data);
            for (var i = 0; i < obj.length; i++) {
                var o = obj[i];
                console.log(o)
                if (o.appprocid == 1) {
                    $(".company").html(o.company)
                }
                if (o.appprocid == 2) {
                    $(".bidfile").html(o.bidfile)
                }
                if (o.appprocid == 3) {
                    $(".bid").html(o.b)
                }
                if (o.appprocid == 4) {
                    $(".makebid").html(o.mb)
                }
            }

        })
        function gotolist(type) {
            window.location.href = '/MobileList?type=' + type;
            setMenuActive()
        }
        function setMenuActive()
        {
            var type = getQueryString('type')
            console.log(type)

            if (type == 1) {
                $("#type1").addClass("active");
                $("#type1").siblings().removeClass("active");

                $("#tab0").addClass("active");
                $("#tab0").siblings().removeClass("active");
            }
            if (type == 2) {
                $("#type2").addClass("active");
                $("#type2").siblings().removeClass("active");
                $("#tab1").addClass("active");
                $("#tab1").siblings().removeClass("active");

            }
            if (type == 3) {
                $("#type3").addClass("active");
                $("#type3").siblings().removeClass("active");
                $("#tab2").addClass("active");
                $("#tab2").siblings().removeClass("active");

            }
            if (type == 4) {
                $("#type4").addClass("active");
                $("#type4").siblings().removeClass("active");
                $("#tab3").addClass("active");
                $("#tab3").siblings().removeClass("active");
            }
        }
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
            var context = "";
            if (r != null)
                context = r[2];
            reg = null;
            r = null;
            return context == null || context == "" || context == "undefined" ? "" : context;
        }

        function logout() {
            if (confirm("要确定系统么？")) {
                window.location.href = "/MobileLogin";
            }
        }
        function logindex() {
            window.location.href = "/MobileMain";
        }
    </script>
</body>
</html>