
@{
    ViewBag.Title = "招标审批";
}



<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/style.css" />
<style>
    .meet-table tr:last-of-type{
         border-top: 1px solid #d9d9d9;
         border-bottom: 1px solid #d9d9d9;
    }
    #tbBidApprove tr > td {
        height: auto;
        padding: 0px 5px;
    }
            .meet-table tr{
            height:60px;
        }

    #tbBidApprove tr > td:nth-child(3) {
        height: 60px;
        margin: 10px 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        display: -moz-box;
        border-top: none;
        border-bottom: none;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .meet-select.js-meet-state {
        float: left;
        margin-bottom: 20px;
    }
</style>
<div class="left-nav">
    <div class="left-nav-con">
        <h1>招标管理</h1>
        <ul class="left-nav-list">
            <li><a href="/Bidings"><i class="icon icon-eye1"></i>招标信息</a></li>
            @*<li><a href="/BidingApplication"><i class="icon icon-hand1"></i>招标申请</a></li>*@
            <li><a href="/BidingApprove" class="active"><i class="icon icon-user1"></i>招标审批</a></li>
            @*<li><a href="winning_bid.html" class="'+ (index==4?" active":"") +'"><i class="icon icon-edit1"></i>中标公告</a></li>
                <li><a href="abandoned_tender.html" class="'+ (index==5?" active":"") +'"><i class="icon icon-fet1"></i>废标</a></li>*@
        </ul>
    </div>
</div>
<div class="main-con">
    <div class="main-wrap">
        <div class="main-top">
            <a class="meet-btn blue-btn sm-btn" href="#"  onclick="allcompany()">全部</a>

            <select class="meet-select js-meet-state" id="bStatus">
                <option value="">状态</option>
                <option value="1">待处理</option>
                <option value="2">已处理</option>
                <option value="3">被驳回</option>
            </select>
            <div class="search-con2">
                <input type="text" name="keyname" placeholder="请输入关键字" id="searchinput">
                <a class="search-btn"><i class="search-icon meet-icon"></i></a>
            </div>
        </div>
        <div class="wc-container">
            <table class="meet-table text-left">
                <thead class="wc-header">
                    <tr>
                        <!--<td class="check-color" style="width:20px;padding:0 5px">
                            <span class="table-all-check">
                                <input type="checkbox" class="icheck" name="all-check" id="all-check">
                            </span>
                        </td>-->
                        <td style="width:150px;padding:0 5px">项目名称</td>
                        <td style="width:80px;padding:0 5px">项目地点</td>
                        <td style="width:300px;padding:0 5px">招标内容介绍</td>
                        <td style="width:100px;padding:0 5px">提交人</td>
                        <td style="width:80px;padding:0 5px">发布时间</td>
                        <!--<td style="width:80px;padding:0 5px">报名截止时间</td>
                        <td style="width:80px;padding:0 5px">预计开标时间</td>-->
                        <td style="width:80px;padding:0 5px">状态</td>
                    </tr>
                </thead>
                <tbody id="tbBidApprove"></tbody>
            </table>
            <div class="page">
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
    <script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
    <script type="text/javascript" src="~/js/js.js"></script>
    <script type="text/javascript">
        //分页点击
        var cur_num = 1
        var clickpagenum = "" //所点击页码
        //当前所在页码
        var nowpage = 1;
        var page_size = 10
        var pagenum = 12
        Paginator(nowpage, page_size)


        //全部按钮
        function allcompany() {
            $("#searchinput").val("");
            $("#bStatus").val("");
            Paginator(nowpage, page_size, '', '')
        }
        $("#all-check").click(function () {
            if ($("#all-check").is(":checked")) {
                $("input.icheck").prop("checked", true)
            } else {
                $("input.icheck").prop("checked", false)
            }
        })


        //下拉菜单
        $("#bStatus").change(function () {
            Paginator(nowpage, page_size)
        })

        $(".search-btn").on("click", function () {
            Paginator(nowpage, page_size)

        })

        function Paginator(page, ps) {
            var status = ""
                //leftnav_htm(4);
            var pname = $("#searchinput").val();
            if ($("#bStatus").val() != "") {
                status = $("#bStatus").val();
            }
            $.post("/BidingApprove/GetBidingApproves", { pageSize: ps, pageIndex: page, pname: pname, status: status }, function (data) {

                    if (data == 'no session') {
                        location.href = "/Login";
                    }
                    var jsonData = JSON.parse(data);
                    var obj = jsonData.List;
                    var htm = "";
                    for (var i = 0; i < obj.length; i++) {
                        var o = obj[i]
                        var applyStatus = "";
                        var applyStyle = "";
                        switch (o.status) {
                            case 0:
                                applyStatus = "未发布";
                                applyStyle = "status-wcl status-wfb";
                                break;
                            case 1:
                                applyStatus = "待处理";
                                applyStyle = "status-wcl status-shz";
                                break;
                            case 2:
                                applyStatus = "已处理";
                                applyStyle = "status-wcl status-ytg";
                                break;
                            case 3:
                                applyStatus = "被驳回";
                                applyStyle = "status-wcl status-bbh";
                                break;
                            case 4:
                                applyStatus = "被暂停";
                                applyStyle = "status-wcl status-bzt";
                                break;
                        }
                        htm += '<tr class="white-bg" >' +
                            //'<td class="check-color"><input class="icheck" name="id" type="checkbox" value="' + o.id + '" id="checkbox-1" /></td>' +
                            '<td onclick=\'location.href="/BidingApprove/BidingApproveDetail?pid=' + o.id + '&status=' + o.status + '";\'>' + o.name + '</td>' +
                            '<td onclick=\'location.href="/BidingApprove/BidingApproveDetail?pid=' + o.id + '&status=' + o.status + '";\'>' + o.location + '</td>' +
                            '<td onclick=\'location.href="/BidingApprove/BidingApproveDetail?pid=' + o.id + '&status=' + o.status + '";\'>' + o.content + '</td>' +
                            '<td onclick=\'location.href="/BidingApprove/BidingApproveDetail?pid=' + o.id + '&status=' + o.status + '";\'>' + o.publisher + '</td>' +
                            '<td onclick=\'location.href="/BidingApprove/BidingApproveDetail?pid=' + o.id + '&status=' + o.status + '";\' class="gray-time">' + o.publishdate + '</td>' +
                            //'<td class="gray-time">' + o.applydate + '</td>' +
                            //'<td class="gray-word gray-time">' + o.opendate + '</td>' +
                            '<td class="gray-word "><i class="' + applyStyle + '">' + applyStatus + '</i></td>' +
                            '</tr>'
                    }

                    $("#tbBidApprove").html(htm);
                    pages(page, jsonData.PageCount, jsonData.total, ps)
                    var oheight = $(".main-con").height();
                    $(".main-nav").css("height", oheight + "px")
                    $(".left-nav").css("height", oheight + "px")
                });
              
            }
      
  
    </script>
