.bar.meetp-nav {
    height: 4.5rem;
    padding: 0;
}

.bar .meetp-bar {
    background-color: #29a8ee;
    height: 2.2rem;
    padding: 0 0.5rem;
}

.bar-tab {
    height: 3rem;
}

.bar-tab .tab-item {
    height: 3rem;
    color: #666666;
}

.bar-tab .tab-item.active, .bar-tab .tab-item:active {
    color: #008bd5;
}

.title {
    color: #fff;
}

.bar .meetp-bar .button-link {
    color: #fff;
}

.bar-nav ~ .content {
    top: 4.7rem;
}

.meetp-icon {
    border-radius: 100%;
    border: 1px solid #808080;
    background-repeat: no-repeat;
}

.bar-tab .tab-item .meetp-icon {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background-size: 50%;
    display: inline-block;
    background-position: center center;
}

.icon.icon-sy {
    background-image: url(../../imgMobile/phone/icon-sy.png);
}

.icon.icon-ck {
    background-image: url(../../imgMobile/phone/icon-ck.png);
}

.icon.icon-sq {
    background-image: url(../../imgMobile/phone/icon-sq.png);
}

.icon.icon-cy {
    background-image: url(../../imgMobile/phone/icon-cy.png);
}

.icon.icon-sh {
    background-image: url(../../imgMobile/phone/icon-sh.png);
}

.icon.icon-yd {
    background-image: url(../../imgMobile/phone/icon-yd.png);
}

.bar-tab .tab-item.active .meetp-icon {
    background-color: #29a8ee;
    border: 1px solid #29A8EE;
}

.bar-tab .tab-item.active .icon-sy {
    background-image: url(../../imgMobile/phone/icon-sy-w.png);
}

.bar-tab .tab-item.active .icon-ck {
    background-image: url(../../imgMobile/phone/icon-ck-w.png);
}

.bar-tab .tab-item.active .icon-sq {
    background-image: url(../../imgMobile/phone/icon-sq-w.png);
}

.bar-tab .tab-item.active .icon-cy {
    background-image: url(../../imgMobile/phone/icon-cy-w.png);
}

.bar-tab .tab-item.active .icon-sh {
    background-image: url(../../imgMobile/phone/icon-sh-w.png);
}

.bar-tab .tab-item.active .icon-yd {
    background-image: url(../../imgMobile/phone/icon-yd-w.png);
}

.bar.meetp-bar-tab {
    background-color: #d3edfb;
}

.page, .page-group {
    background-color: #fff;
}

.content-block {
    color: #070707;
    padding: 0;
    padding:0;
}

.meetp-content-block {
    padding: 0 0.75rem;
    margin: 0;
}

.meetp-list-block .item-content {
    padding-left: 0;
}

.meetp-list-block ul:before, .meetp-list-block ul:after, .meetp-list-block .item-inner:after {
    background-color: #9f9f9f;
}

.meetp-list-block .item-title {
    color: #070707;
}

.meetp-list-block .item-text {
    height: 1.1rem;
    font-size: 0.6rem;
    color: #666;
}

.meetp-list-block .item-after {
    font-size: 0.6rem;
    line-height: 1.4rem;
    color: #f29b13;
}

.meetp-list-block .item-subtitle {
    font-size: 0.6rem;
    color: #008bd5;
}

.meetp-list-block .item-link .item-inner {
    background-size: 1rem;
    background-position: -webkit-calc(100% - 0rem) center;
    background-position: calc(100% - 0rem) center;
}

.meetp-buttons-tab {
    position: fixed;
    top:4.5rem;
    width: 100%;
    background-color: #d3edfb;
    z-index: 999;
    border-color: #d3edfb;
}

.meetp-buttons-tab .button {
    height: 3rem;
    line-height: 3rem;
    color: #666666;
}

.meetp-buttons-tab .button.active {
    border-color: #d3edfb;
}

.meetp-buttons-tab .button.active:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 43%;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
}

.button.button-fill {
    background-color: #29a9ef;
}

.button-success.button-fill {
    background-color: #29ae61;
}

.button-danger.button-fill {
    background-color: #e60317;
}

.button-end.button-fill {
    background-color: #f39c13;
}

.button-warning.button-fill {
    background-color: #ea6307;
}

.button-bohui.button-fill {
    background-color: #f39c13;
}

.color-warning {
    color: #ff931e;
}

.color-dark {
    color: #070707 !important;
}

.bg-bohui {
    background-color: #f39c13;
}

.bg-noresponse {
    background-color: #717071;
}

ul, ul li {
    list-style: none;
}

input::-webkit-input-placeholder {
    color: #000;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
}

p {
    margin: 0.5rem 0;
}

.blue-word {
    color: #008cd6 !important;
}

.gray-word {
    color: #a0a0a0 !important;
}

.black-word {
    color: #4d4d4d !important;
}

.pd-r-10 {
    padding-right: 10px;
}

.meetp-header {
    padding: 0;
    background-color: #d3edfb;
    height: 2.5rem;

}

.meetp-header {
    margin: 0 auto;
    padding-top: 1rem;
}

.meetp-header > span.span1 {
    font-size: 0.8rem;
    position: absolute;
    top: 0.9rem;
    font-size: 0.6rem;
    right: 2rem;
    color: #575757;
    margin-left: 0.15rem;
}

.meetp-header > span.span2 {

    position: absolute;
    top: 0.6rem;
    right: 0.2rem;
}

.meetp-header span img {
    width: 1.5rem;
    height: 1.5rem;
}

.meetp-welcome {
    background-color: #D3EDFB;
    padding: 2rem 0 3rem 0;
}

.meetp-welcome > p {
    color: #008bd5;
    font-size: 1.1rem;
    text-align: center;
}

.meetp-container {
    padding: 0 1rem;
}

.meetp-waitdeal-list {
    height: 5rem;
    border-bottom: 1px solid #9f9f9f;
    padding: 0;
}

.meetp-waitdeal-list li {
    display: block;
    float: left;
    width: 33.333%;
    text-align: center;
    padding-bottom: 0.5rem;
    position: relative;
}

.meetp-waitdeal-list li:first-of-type {
    text-align: left;
}

.meetp-waitdeal-list li:first-of-type span, .meetp-waitdeal-list li:first-of-type a {
    float: left;
    clear: both;
}

.meetp-waitdeal-list li:last-of-type {
    text-align: right;
}

.meetp-waitdeal-list li:last-of-type span, .meetp-waitdeal-list li:last-of-type a {
    float: right;
    clear: both;
}

.meetp-waitdeal-list li a {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 15px;
    background-color: #e2e3e4;
    color: #000;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
    margin: 0 auto;
}

.meetp-waitdeal-list li span {
    color: #666666;
    font-size: 0.7em;
    display: block;
    width: 3rem;
    text-align: center;
    padding-top: 0.2rem;
    margin: 0 auto;
}

.icon-mynew {
    background: url(../../imgMobile/phone/icon-new.png) no-repeat center center;
    width: 22px;
    height: 28px;
    display: block;
    position: absolute;
    top: -1rem;
    left: 2.5rem;
}

.meetp-nav-list {
    padding: 0;
}

.meetp-nav-list li {
    padding-bottom: 1rem;
    text-align: center;
    float: left;
    width: 25%;
}

.meetp-nav-list li:nth-child(4n+1), .meetp-nav-list li:nth-child(4n+4) {
    -width: 20%;
}

.meetp-nav-list li:nth-child(4n+1) a, .meetp-nav-list li:nth-child(4n+1) span {
    float: left;
    clear: both;
}

.meetp-nav-list li:nth-child(4n+4) a, .meetp-nav-list li:nth-child(4n+4) span {
    float: right;
    clear: both;
}

.meetp-nav-list li a {
    display: block;
    width: 3.2rem;
    background-color: #008bd5;
    height: 3.2rem;
    border-radius: 15px;
    line-height: 3.2rem;
    margin: 0 auto;
}

.meetp-nav-list li span {
    color: #000;
    font-size: 0.6rem;
    display: block;
    padding-top: 0.3rem;
}

.meetp-nav-list li i {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.buttons-row .button:last-child {
    border-radius: 0
}

.meetp-nav-list .icon-eye {
    background: url(../../imgMobile/phone/icon-eye.png) no-repeat center center;
    background-size: 60%;
}

.meetp-nav-list .icon-shenq {
    background: url(../../imgMobile/phone/icon-shenq.png) no-repeat center center;
    background-size: 60%;
}

.meetp-nav-list .icon-cany {
    background: url(../../imgMobile/phone/icon-cany.png) no-repeat center center;
    background-size: 50%;
}

.meetp-nav-list .icon-shenh {
    background: url(../../imgMobile/phone/icon-shenh.png) no-repeat center center;
    background-size: 40%;
}

.meetp-nav-list .icon-yued {
    background: url(../../imgMobile/phone/icon-yued.png) no-repeat center center;
    background-size: 40%;
}

.meetp-sel-con {
    height: 1.8rem;
    background-color: #d3edfb;
    line-height: 1.8rem;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.meetp-sel-con .meetp-sel {
    border: none;
    background: none;
    color: #000;
    font-size: 0.75rem;
    width: 5rem;
    margin-left: 0.5rem;
}

.meetp-sel-wrap {
    padding: 0 0.75rem;
}

.meetp-detail-list {
    margin: 0 0 0.5rem 0;
}

.meetp-detail-list .item-content {
    padding-left: 0;
}

.meetp-detail-list .item-inner {
    padding-right: 0;
}

.meetp-detail-list .item-title.label {
    font-size: 0.7rem;
    color: #a0a0a0;
    width: 29%;
    text-align: right;
}

.meetp-detail-list .item-input {
    font-size: 0.7rem;
    color: #3e3a39;
}

.meetp-detail-list .item-inner, .meetp-detail-list ul {
    border-color: #fff;
}

.meetp-user-list {
    margin: 0;
}

.meetp-user-list .card {
    margin: 0 0 1rem 0;
    box-shadow: none;
}

.meetp-user-list .card-header {
    background-color: #d3edfb;
    color: #000000;
    font-size: 0.75rem;
    border: none;
    min-height: auto;
}

.meetp-user-list .card-content.active {
    height: 0;
    overflow: hidden;
}

.meetp-user-list .card-content-inner {
    color: #3e3a39;
}

.meetp-user-list .card-content-inner span {
    padding-right: 0.5rem;
}

.feed-icon {
    display: inline-block;
    width: 35px;
    height: 20px;
    margin-right: 0.5rem;
    position: relative;
    top: -2px;
}

.feed-icon.icon-bhreason {
    background: url(../img/icon-message.png) no-repeat center center;
    background-size: 100%;
}
.feed-icon.icon-bohui{
    background: url(../img/icon-message-on.png) no-repeat center center;
    background-size: 100%;
}
.feed-icon.icon-hfreason {
    background: url(../imgMobile/icon-hfreason.png) no-repeat center center;
    background-size: 100%;
}

.feed-icon.icon-srreason {
    background: url(../imgMobile/icon-srreason.png) no-repeat center center;
    background-size: 100%;
}

.meetp-feedback-list {
    padding: 0;
    margin: 0;
}

.meetp-feedback-list li {
    margin-bottom: 0.5rem;
}

.meetp-feedback-list .item-title {
    color: #a0a0a0;
    font-size: 0.8rem;
}

.meetp-feedback-list .item-title span {
    color: #808080;
    font-size: 0.6rem;
    padding-left: 0.5rem;
}

.meetp-feedback-list .item-text {
    color: #3e3a39;
    font-size: 0.75rem;
}

.meetp-feedback-list .item-text.color-danger {
    font-size: 0.85rem;
    color: #e60012;
}

.meetp-deal-list ul {
    margin-top: 0.8rem;
}

.meetp-deal-list .item-link .item-inner {
    background-image: none;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.meetp-deal-list li {
    border: 1px solid #e6e6e6;
    margin-top: 0.8rem;
}

    .meetp-deal-list li.onling {
       /* background: url('../imgMobile/oning.png') no-repeat;*/
    }

.advice-text-wrap textarea {
    height: 5rem;
    padding: .4rem;

    line-height: 1.4;
    resize: none;
    display: block;
    width: 100%;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;

    margin: 0;
    font-family: inherit;
    font-size: .85rem;
    color: #3d4145;
    background: 0 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    font-size: 0.5rem;
}

.meetp-deal-list .item-text {
    font-size: 0.7rem;
    height: 1.35rem;
    line-height: 1.35rem;
    color: #a0a0a0;
}

.meetp-deal-list .item-after {
    color: #a0a0a0;
}

.meetp-deal-list .item-subtitle {
    font-size: 0.7rem;
    height: 1.35rem;
    line-height: 1.35rem;
}

.meetp-deal-list .item-text.deal-opt {
    color: #808080;
}

.deal-opt span {
    padding: 0 3px;
}

.meetp-deal-list .item-text.deal-num {
    color: #000000;
    font-size: 0.6rem;
}

.feed-icon.feed-xsicon {
    width: 30px;
    height: 20px;
    top: 4px;
}

.meetp-deal-list .button {
    width: 4rem;
    border-radius: .1rem;
}

.meetp-advice-content {
    border: 1px solid #d9d9d9;
    margin: 0.5rem;
}
.meetp-advice-content:nth-child(2){
    margin: 0.5rem 0.5rem 6rem;
}
.meetp-advice-title {
    background-color: #eaf6fd;
    padding: 0.05rem 0.5rem;
}

.item-inner {
    padding: 0rem 0.5rem 0 0.5rem;
}

.meetp-advice-title p {
    font-size: 0.75rem;
}

.meetp-buttons-row .button:first-child {
    border-radius: 0.05rem;

}

.meetp-buttons-row .button {
    height: 1.7rem;
    font-size: 0.8rem;
    margin: 0 0.3rem;
    border-radius: 0.05rem;
    line-height: 1.7rem;
    color: #231815;

}

label.label-checkbox i.icon-form-checkbox.noradius-check {
    border-radius: 0;
    margin-right: 0.2rem;
}

.meetp-attend-btn {
    padding: 1rem 0;
}

.meetp-attend-btn .button {
    width: 3.5rem;
    margin: 0 auto;
    height: 1.7rem;
    line-height: 1.7rem;
    font-size: 0.75rem;

}

.meetp-attend-btn .button .tag-span {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
    color: #fff;
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
    z-index: 99;
    display: block;
    line-height: 1.2rem;
    font-size: 0.6rem;
}

.lw-zb li {
    width: 95%;
    height: 1.5rem;
    margin: 0 auto;
    margin-bottom: 20px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 3rem;*/
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.5rem;

}

.button {
    padding: 0 0.4rem
}

.td1 {
    width: 10%;
}

.td2 {
    width: 35%;
}

.td3 {
    width: 20%;
}

.td4 {
    width: 15%;
}

.td5 {
    width: 15%;
}

.meet-table.text-left {
    margin-top: .5rem;
}

thead td {
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 0.7rem;
    background: #d3edfb;
    line-height: 1.8rem;
}

tbody td {
    font-size: .5rem;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid #ccc;
}

.meetp-buttons-tab2 {
    position: relative;

}

.meetp-deal-list li {
    border: 1px solid #e6e6e6;
    margin-top: 0.8rem;
}

.meetp-deal-list .item-text span {
    color: #070707;
}

.pic02 ul {
    overflow: hidden;
    padding: 0
}

.pic02 ul li {
    width: 33%;
    float: left;
    overflow: hidden;
    padding: 0.1rem;
}

.pic02 ul li p {
    text-align: center;
    font-size: 0.7rem;
    margin: 0.2rem 0;
    word-break: break-word;
}

.pic02 ul li p img {
    margin: 0 auto;
    text-align: center;
    width: 5.25rem;
    height: 5rem
}

.meetp-header2 {
    background-color: #0d6fc9;
    height: 4.5rem;
}

.lw-footer {
    position: absolute;
    bottom: 0;
    height: 4rem;
    background-color: #0d6fc9;
    color: #fff;
    font-size: .8rem;
    padding: 0.5rem;
}

/*.login-center3{*/
/*background:#d3edfb;*/
/*}*/
.loginbar {
    width: 100%;
    height: 340px;
    /*background: url(../imgMobile/login-bg3.png) repeat;*/

    margin: 0 auto
}

.loginbar .loginbar-re {
    width: 14rem;
    margin: 0 auto

}

.loginbar .loginbar-re ul {
    padding: 0;
    margin: 0.2rem;
}

.loginbar .loginbar-re ul li input {
    display: block;
    margin: 0;
    padding: 0 0.8rem;
    width: 14rem;
    height: 1.6rem;
    line-height: 1.6px;
    border: none;
    color: #848281;
    margin-bottom: 0.5rem;
    font-size: 0.6rem;
    border-radius: 3px;
}

.loginbar .loginbar-re h3 {
    margin-bottom: 0rem;
    color: #fff;
    font-weight: normal;
    font-size: 0.8rem;
}

.loginbar .loginbar-re .txtcode {
    width: 8rem;
    display: inline-block;
}

.loginbar .loginbar-re span {
    width: 4.5rem;
    display: inline-block;
    margin-left: 0.8rem;
    text-align: center;
    height: 1.6rem;
    vertical-align: middle;
}

.loginbar .loginbar-re .getCode {
    width: 95px;
}

.loginbar .loginbar-re .btn-box .col .submit {
    display: block;

    width: 14rem;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    border: 0;
    background: #008cd6;
    text-align: center;
    cursor: pointer;
}

.loginbar .loginbar-re .regi {
    float: right;
    font-size: 0.6rem;
    color: #fff;
    padding-top: 0.5rem;
}

.loginbar .loginbar-re a.regi:hover {
    color: #008cd6;
}

.login-tit p {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    padding: 1rem 0 1rem;
}

.page.page-current > img {

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.meetp-header.meetp-header2 {
    text-align: center;
}

.meetp-header.meetp-header2 img {
    width: 16rem;
    height: 2.5rem;
    margin: 0 auto;
}

.lw-footer p {
    font-size: 0.6rem;
    text-align: center;
}

.buttons-row .button {
    width: 4.5rem;
}

.meetp-buttons-row .button {
    border-color: none;
}

.row .col-80 {
    width: 9.1rem;
    /* margin-left: 4%; */
    text-align: center;
    margin: 0 auto;
}

.buttons-row.col-80.meetp-buttons-row {
    text-align: center;
    float: none
}

.btn-row {
    background:#fff;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.row.btn-row {
    width: 100%;
    position:fixed;
    bottom:0;
    border-top:1px solid #1d9ded;
    margin-left: 0;
    text-align: center;
}

.item-inner2 {
    padding: 0;
}

.meetp-detail-list .item-input.item-input2 {
    font-size: 0.6rem;
    padding-left: 0.2rem;
}

.tjqy {
    width: 3.2rem;
    height: 1rem;
    background: #ea6307;
    color: #fff;
    border-radius: 0.1rem;
    display: inline-block;
    line-height: 1rem;
    font-size: 0.6rem;
    text-align: center;
}

.mln {
    width: 2.6rem;
    height: 1rem;
    background: #29ae61;
    color: #fff;
    border-radius: 0.1rem;
    display: inline-block;
    line-height: 1rem;
    font-size: 0.6rem;
    text-align: center;
}

.right-ss {
    padding: 0.5rem 0.15rem 3rem 0.25rem
}

.right-ss h4 {
    font-size: 0.7rem;
    height: 0.75rem;
    line-height: 0.75rem;
    /*margin-bottom: -1px;*/
    vertical-align: center;
    color: #231815;
    margin-bottom: 0;
    margin-top: 0;

}

.content-block .right-ss h4 span {
    width: 0.75rem;
    height: 0.75rem;
    background: #00B83F;
    border-radius: 50%;
    padding: 0;
    border: 0;
    margin-bottom: 0;
    vertical-align: top;
    display: inline-block;
}

.content-block .right-ss .meet-user-span h4.cp02 span, .content-block .right-ss .meet-user-span2 h4.cp02 span {
    background: #b4b4b5;
}

.content-block .right-ss ul {
    overflow: hidden;
    border-left: 1px solid #00B83F;
    margin-left: 0.35rem;
    padding: 0rem 0.25rem;
    margin-bottom: 0;
    margin-top: 0;
}

.content-block .right-ss ul li {
    margin-bottom: 0.15rem;
}

.block-right.block-right2 ul.uc02 {
    border-left: 1px solid #b4b4b5;
}

.content-block .right-ss .meet-user-span span {
    padding: 0;
    border: none;

    font-size: 0.7rem;
    margin-right: 0.3rem;
    display: inline-block;
}

.content-block .right-ss .meet-user-span2 span {
    padding: 0;
    border: none;
    border-radius: 0;
    font-size: 0.7rem;
    margin-right: 0.4rem;
    display: inline-block;
}

.content-block .right-ss .meet-user-span span.yj01, ..content-block .right-ss .meet-user-span2 span.yj01 {
    color: #b3b3b3;
}

.content-block .right-ss .meet-user-span span.yj03, .content-block .right-ss .meet-user-span2 span.yj03 {
    color: #999;
    font-size: 12px;
}

.content-block .right-ss .meet-user-span span.yj04, .content-block .right-ss .meet-user-span2 span.yj04 {
    color: #008cd6;
    font-size: 0.7rem;
    text-align: right;
    float: right;
}

.content-block .right-ss .meet-user-span span.yj05, .content-block .right-ss.meet-user-span2 span.yj05 {
    color: #ff0000;
    font-size: 0.7rem;
    text-align: right;
    float: right;

}

.content-block .right-s .meet-user-span span.yj06, .content-block .right-s .meet-user-span2 span.yj06 {
    color: #595757;
    font-size: 0.7rem;
    text-align: right;

}

.buttons-tab.meetp-buttons-tab.meetp-buttons-tab2.shxt {
    margin-top: 0.5rem;
}

.buttons-tab.meetp-buttons-tab.meetp-buttons-tab2.shxt .button {
    height: 1.5rem;
    /*background: #d3edfb;*/
    line-height: 1.5rem;
}

/*.meetp-buttons-tab .button.active {*/
/*background: #29a8ee;*/
/*color: #fff;*/
/*}*/

.meetp-deal-list .acte li {
    margin: 0 0.3rem;
}

.meetp-detail-list.meetp-detail-list2 .item-title.label {
    width: 21%;
}

.meetp-buttons-tab .button.button2.active:after {
    display: none;
}

.list-block ul.ate2 {
    border: none;
    margin-top: 0;
}

.list-block ul.ate2 .item-title {
    font-size: 0.8rem;
}

.meetp-deal-list .acte.ate2 .item-text {
    height: auto;
}

.meetp-deal-list .acte.ate2 .item-text span {
    margin-right: 0.5rem;
    display: inline-block;
}

.meetp2 {
    margin-top: 1rem
}

.list-block ul.ate2 li {
    margin-bottom: 0.5rem;
}

.buttons-tab .button {
    font-size: 0.7rem;
}

.tab-link.button {
    padding: 0 0.2rem;
}

.meetp-header > a > img {
    width: 12rem;
    height: 1.7rem;
    padding-top: 0;
}

.meetp-header {
    padding-top: 0.5rem;
}

.dlwz {
    font-size: 1rem;
    text-align: center;
    color: #008cd6;
    padding: 0.3rem 0 1rem
}

.bar-nav ~ .content.con1 {
    top: 6rem
}

.bar.meetp-nav.bar-nav2 {
    height: 6rem;
    background: #d3edfb;
}

.m-logo {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}

.mess-page h3 {
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
    color: #444;
}

.mess-page ul {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.mess-page ul li {
    width: 100%;
    float: left;
    line-height: 1.25rem;

}

.mess-page ul li label {
    width: 3.8rem;
    float: left;
    color: #008cd6;
    font-size: 0.7rem;
}

.mess-page ul li span {
    float: left;
    display: inline-block;
    width: 75%;
    font-size: 0.7rem;
}

.mess-page .abtn {
    width: 4.8rem;
    height: 2rem;
    border-radius: 0.15rem;
    line-height: 2rem;
    text-align: center;
    display: inline-block;
    margin-top: 1.5rem;
}

.mess-page .abtn.yes-btn {
    background: #50b033;
    color: #fff;
    margin-right: 0.2rem;
}

.mess-page .abtn.no-btn {
    background: #e51a16;
    color: #fff;
    margin-left: 0.2rem;
}

.mess-page .bthcj {
    width: 11.2rem;
    margin: 0 auto
}

.footer {
    line-height: 1.2rem;
    background: #d3edfb;
    font-size: .7rem;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #666;
    padding: 0 0.5rem;
    width: 100%;

}

.download {
    padding: 10% 0%;
}

.download div {
    display: inline-block;
}

.download div.cc {
    width: 85%;

    background: #f2f2f2;
    padding: 2%;
    margin-left: 1%;
    line-height: 1.25rem;
    font-size: 0.7rem;
}

.download div.cc a {
    color: #008cd6;
}

.download div.cc .dowl {
    display: inline-block;
}

.icon-file {
    background: url(../imgMobile/icon-file.png) center center no-repeat;
    width: 0.75rem;
    height: 0.75rem;
}

.meet-icon {
    padding: 1%;
    width: 8%;
}

.meetp-deal-list .acte.ate2.ate3 .item-text span {
    margin-right: 0;
}

.sjdlb dl {
    padding: 1% 1%;
}

.sjdlb dl dt {
    width: 3.6rem;
    float: left;
    text-align: left;
    font-size: 0.7rem;
    color: #a0a0a0;
}

.sjdlb dl dd {

    margin-left: 3.6rem;
    text-align: left;
    font-size: 0.7rem;
}

.sjdlb dl dd p {
    padding: 0;
    line-height: 1.2rem;
    margin: 0;
    color: #3e3a39;
    text-align: justify;

}

.sh-list {
    margin: 0 auto;

    width: 14.4rem;
    overflow: hidden;
    margin-top: 0.5rem;

}

.sh-list ul {
    width: 14.4rem;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}

.sh-list ul li {
    float: left;
    margin: 0.3rem;
}

.sh-list ul li .sz {
    width: 3rem;
    height: 3rem;
    background: #e2e3e4;
    display: block;
    border-radius: 0.25rem;
    line-height: 3.5rem;
    text-align: center;
    color: #000;
    font-size: 1.2rem;
}

.sh-list ul li .wz {
    font-size: 0.7rem;
    text-align: center;
}

.sh-list2 {
    margin: 0 auto;

    width: 13.6rem;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.sh-list2 ul {
    width: 13.6rem;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}

.sh-list2 ul li {
    float: left;
    margin: 0rem 1.4rem;
}

.sh-list2 ul li .sz {
    width: 4rem;
    height: 4rem;

    display: block;

    line-height: 4rem;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
}

.sh-list2 ul li .sz img {
    width: 4rem;
    height: 4rem;
}

.sh-list2 ul li .wz {
    font-size: 0.7rem;
    text-align: center;
}

.sh-list2 ul li a .wz {
    color: #3e3a39;
}

.lxdh {
    color: #a0a0a0;
    margin-left: 1rem;
    margin-right: 0.3rem;
}

.ab_tab2_img {
    float: left;
    width: 25%;
    padding: 10px;
}

.ab_tab2_img > div {
    border: 0.05rem solid #e5e5e5;
    width: 100%;
    text-align: center;
    display: table;
    padding: 0.1rem;
    height: 7rem;
    overflow: hidden;
    min-height: 7rem
}

.ab_tab2_img > div img {
    max-width: 100%;
    max-height: 100%;
}

.ab_tab2_img > div a {
    height: 6rem;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden
}

.ab_tab2_img i {
    display: block;
    width: 100%;
    overflow: hidden;
    line-height: 1rem;
    text-align: center;
    margin: 0.2rem 0;
    font-style: normal;
    word-break: break-all;
    font-size: 0.7rem;
    height: 1rem;
    overflow: hidden;
}

/*.ab_tab2_img i:before{content:"";display: inline-block;width: 18px;height: 10px; background: url(img/icon_triangle.png) 0 2px no-repeat;}*/

.ab_con_tip {
    position: fixed;
    bottom: 10%;
    left: 50%;
    margin-left: -2rem;
    padding: 0.3rem;
    border-radius: 5px;
    color: #fff;
    background: rgba(0, 0, 0, .8);
    font-size: 16px;
    display: none;
    z-index: 11200;
}

#fancybox-wrap, #fancybox-wrap * {
    box-sizing: content-box;
}

.ab_tab2_img {
    padding: 3px;
    width: 33.3%;
}

.ab_tab2_img p {
    line-height: 1rem;
    font-size: 0.7rem;
    margin-bottom: 0.1rem;
    height: 1rem;
    overflow: hidden;
}

.meetp-deal-list .acte.ate2 .item-text span.col02 {
    color: #008cd6;
    font-size: 0.8rem;
}

.meetp-buttons-tab.tb2 .button.active {
    background: #29a8ee;
    color: #fff;
    border-bottom: 1px solid #29a8ee;
}

/*资质荣誉图片放大  fancy-box*/
/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 *
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 *
 * Version: 1.3.1 (05/03/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1104;
    display: none;
}

* html #fancybox-loading { /* IE6 */
    position: absolute;
    margin-top: 0;
}

#fancybox-loading div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url('../imgMobile/fancybox.png');
}

#fancybox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    z-index: 11100;
    display: none;
}

* html #fancybox-overlay { /* IE6 */
    position: absolute;
    width: 100%;
}

#fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto;
    display: none;
}

#fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    z-index: 11101;
    display: none;
}

#fancybox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: #FFF;
}

#fancybox-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    outline: none;
    overflow: hidden;
}

#fancybox-hide-sel-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

#fancybox-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background-image: url('../imgMobile/fancybox.png');
    background-position: -40px 0px;
    cursor: pointer;
    z-index: 11103;
    display: none;
}

#fancybox_error {
    color: #444;
    font: normal 12px/20px Arial;
    padding: 7px;
    margin: 0;
}

#fancybox-content {
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
}

#fancybox-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: top;
    -ms-interpolation-mode: bicubic;
}

#fancybox-frame {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

#fancybox-title {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: Arial;
    font-size: 12px;
    z-index: 11102;
}

.fancybox-title-inside {
    padding: 10px 0;
    text-align: center;
    color: #333;
}

.fancybox-title-outside {
    padding-top: 5px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
}

.fancybox-title-over {
    color: #FFF;
    text-align: left;
}

#fancybox-title-over {
    padding: 5px;
    background-image: url('../imgMobile/fancy_title_over.png');
    display: block;
}

#fancybox-title-wrap {
    display: inline-block;
}

#fancybox-title-wrap span {
    height: 32px;
    float: left;
}

#fancybox-title-left {
    padding-left: 15px;
    background-image: url('../imgMobile/fancybox.png');
    background-position: -40px -90px;
    background-repeat: no-repeat;
}

#fancybox-title-main {
    font-weight: bold;
    line-height: 29px;
    background-image: url('../imgMobile/fancybox-x.png');
    background-position: 0px -40px;
    color: #FFF;
}

#fancybox-title-right {
    padding-left: 15px;
    background-image: url('../imgMobile/fancybox.png');
    background-position: -55px -90px;
    background-repeat: no-repeat;
}

#fancybox-left, #fancybox-right {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 35%;
    cursor: pointer;
    outline: none;
    background-image: url('../imgMobile/blank.gif');
    z-index: 1102;
    display: none;
}

#fancybox-left {
    left: 0px;
}

#fancybox-right {
    right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
    position: absolute;
    top: 50%;
    left: -9999px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
    z-index: 11102;
    display: block;
}

#fancybox-left-ico {
    background-image: url('../imgMobile/fancybox.png');
    background-position: -40px -30px;
}

#fancybox-right-ico {
    background-image: url('../imgMobile/fancybox.png');
    background-position: -40px -60px;
}

#fancybox-left, #fancybox-right {
    visibility: visible; /* IE6 */
}

#fancybox-left span {
    left: 20px;
}

#fancybox-right span {
    left: auto;
    right: 20px;
}

.fancy-bg {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    width: 20px;
    height: 20px;
    z-index: 11001;
}

#fancy-bg-n {
    top: -20px;
    left: 0;
    width: 100%;
    background-image: url('../imgMobile/fancybox-x.png');
}

#fancy-bg-ne {
    top: -20px;
    right: -20px;
    background-image: url('../imgMobile/fancybox.png');
    background-position: -40px -162px;
}

#fancy-bg-e {
    top: 0;
    right: -20px;
    height: 100%;
    background-image: url('../imgMobile/fancybox-y.png');
    background-position: -20px 0px;
}

#fancy-bg-se {
    bottom: -20px;
    right: -20px;
    background-image: url('../imgMobile/fancybox.png');
    background-position: -40px -182px;
}

#fancy-bg-s {
    bottom: -20px;
    left: 0;
    width: 100%;
    background-image: url('../imgMobile/fancybox-x.png');
    background-position: 0px -20px;
}

#fancy-bg-sw {
    bottom: -20px;
    left: -20px;
    background-image: url('../imgMobile/fancybox.png');
    background-position: -40px -142px;
}

#fancy-bg-w {
    top: 0;
    left: -20px;
    height: 100%;
    background-image: url('../imgMobile/fancybox-y.png');
}

#fancy-bg-nw {
    top: -20px;
    left: -20px;
    background-image: url('../imgMobile/fancybox.png');
    background-position: -40px -122px;
}
.ab_tab2_img:last-child{
    padding-bottom:6rem
}
        .audit textarea#auditaction-con {
            width: 90%;
            height: 90%;
            margin: 0.3rem 5%;
            border:0px;
        }
        .audit .row.btn-row{
            border-top:0px;
        }
        .audit .button.active, .button.active:active{
            width:80%;
            margin:0 auto;
            color: #fff;
            background: #0a8ddf;
            border-radius: 0.1rem;
            font-size: .8rem;
            line-height: 1.7rem;
            height: 1.7rem;
        }
/*!* IE *!*/

/*#fancybox-loading.fancybox-ie div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_loading.png', sizingMethod='scale'); }*/
/*.fancybox-ie #fancybox-close		{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_close.png', sizingMethod='scale'); }*/

/*.fancybox-ie #fancybox-title-over	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }*/
/*.fancybox-ie #fancybox-title-left	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_title_left.png', sizingMethod='scale'); }*/
/*.fancybox-ie #fancybox-title-main	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_title_main.png', sizingMethod='scale'); }*/
/*.fancybox-ie #fancybox-title-right	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_title_right.png', sizingMethod='scale'); }*/

/*.fancybox-ie #fancybox-left-ico		{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_nav_left.png', sizingMethod='scale'); }*/
/*.fancybox-ie #fancybox-right-ico	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_nav_right.png', sizingMethod='scale'); }*/

/*.fancybox-ie .fancy-bg { background: transparent !important; }*/

/*.fancybox-ie #fancy-bg-n	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_shadow_n.png', sizingMethod='scale'); }*/
/*.fancybox-ie #fancy-bg-ne	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_shadow_ne.png', sizingMethod='scale'); }*/
/*.fancybox-ie #fancy-bg-e	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_shadow_e.png', sizingMethod='scale'); }*/
/*.fancybox-ie #fancy-bg-se	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_shadow_se.png', sizingMethod='scale'); }*/
/*.fancybox-ie #fancy-bg-s	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_shadow_s.png', sizingMethod='scale'); }*/
/*.fancybox-ie #fancy-bg-sw	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_shadow_sw.png', sizingMethod='scale'); }*/
/*.fancybox-ie #fancy-bg-w	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_shadow_w.png', sizingMethod='scale'); }*/
/*.fancybox-ie #fancy-bg-nw	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_shadow_nw.png', sizingMethod='scale'); }*/





