
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>中国铁建房地产行政办公系统</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="~/cssMobile/light/light7.min.css">
    <link rel="stylesheet" href="~/cssMobile/phone.css" />
    <script type='text/javascript' src='~/jsMobile/jquery.js'></script>
    <style>
        textarea#auditaction-con {
            width: 90%;
            height: 90%;
            margin: 0.3rem 5%;
            border: 0px;
        }

        .row.btn-row {
            border-top: 0px;
        }

        .button.active, .button.active:active {
            width: 80%;
            margin: 0 auto;
            color: #fff;
            background: #0a8ddf;
            border-radius: 0.1rem;
            font-size: .8rem;
            line-height: 1.7rem;
            height: 1.7rem;
        }
        .bar.meetp-nav {
            height: auto;
        }

        .bar-nav ~ .content {
            top: 2.2rem;
        }

        .meetp-buttons-tab {
            top: 2.2rem;
        }
    </style>
</head>

<body>
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav meetp-nav">
                <!--<div class="meetp-header">
                    <a href="#" onclick="logindex()"><img src="~/imgMobile/logo.png" /></a><span class="span1">@ViewBag.UserName</span>
                    <span class="span2">
                        <a href="#" onclick="logout()">
                            <img src="~/imgMobile/loginout-icon.png" alt="">
                        </a>
                    </span>
                </div>-->
                <div class="meetp-bar">
                    <a class="button button-link button-nav pull-left back" onclick="winHistory()" href="#">
                        <span class="icon icon-left"></span>
                    </a>
                    <h1 class="title">招标审批-审批意见</h1>
                </div>
            </header>
            <div class="content native-scroll audit">
                <textarea id="auditaction-con" placeholder="请输入审批意见"></textarea>
                <div class="row btn-row">
                    <a href="#" class="button active"  onclick="Application()">确认</a>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='~/jsMobile/jquery-1.11.0.js' charset='utf-8'></script>
    <script type='text/javascript' src='~/jsMobile/light/light7.min.js' charset='utf-8'></script>
    <script type="text/javascript" src="~/jsMobile/js.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script>
        function winHistory() {
            window.history.go(-1)
        }
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
            var context = "";
            if (r != null)
                context = r[2];
            reg = null;
            r = null;
            return context == null || context == "" || context == "undefined" ? "" : context;
        }
        getQueryString("type");
        function Application() {
            var feedback = $("#auditaction-con").val()
            if(getQueryString("type")==1){
                if (confirm("确定通过该申请？"))
                {
                    $(".deal-apply-btn.deal-apply-btn2").hide();
                    $(".right-block").hide();
                    $(".apply-opt a.js-cancle-meet:nth-child(1)").hide();
                $.post("/Common/UpdateApproveProcess", { apid:3, oid: @ViewBag.pid, astatus: 2, comment: feedback }, function () {
                        location.href = "/MobileList?type=2"
                    })
                }
            }else{
                if (feedback =="") {
                    alert("请填写驳回理由！");
                    return;
                }
                if (confirm("确定驳回该申请？"))
                {
                    $(".deal-apply-btn.deal-apply-btn2").hide();
                    $(".right-block").hide();
                    $(".bohui").hide();
                $.post("/Common/UpdateApproveProcess", { apid:3, oid: @ViewBag.pid, astatus: 3, comment: feedback }, function () {
                        location.href = "/MobileList?type=2"
                    })
                }
            }
        }
        function logout() {
            if (confirm("要确定系统么？")) {
                window.location.href = "/MobileLogin";
            }
        }
        function logindex() {
         
            window.location.href = "/MobileMain";
        }
    </script>
</body>
</html>