
@{
    ViewBag.Title = "审批流程设置";
}

<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel='stylesheet' href='~/js/ztree/css/zTreeStyle/zTreeStyle.css' />
<link rel="stylesheet" href="~/css/style.css" />

<div class="left-nav">
    <div class="left-nav-con">
        <h1>系统设置</h1>
        <ul class="left-nav-list">
            <li><a href="/SystemSetup"><i class="icon icon-eye1"></i>组织结构</a></li>
            <li><a href="PersonalCenter"><i class="icon icon-hand2"></i>个人中心</a></li>
            <li><a href="SystemLog"><i class="icon icon-hand3"></i>系统日志</a></li>
            <li><a href="CategoryManagement"><i class="icon icon-hand4"></i>类别管理</a></li>
            <li><a href="SystemUser"><i class="icon icon-hand5"></i>系统用户</a></li>
            <li><a href="ApproveProcessManagement" class="active"><i class="icon icon-hand4"></i>审核流程</a></li>
        </ul>
    </div>
</div>

<div class="main-con">

    <div class="main-wrap">
        <div class="main-top">
            <!--<a class="meet-btn blue-btn sm-btn" href="#">全部</a>-->
            <div class="search-con2" style="margin-right: 15px;">
                <input type="text" name="keyname" placeholder="请输入关键字">
                <a class="search-btn" style="background: none"></a>
            </div>
            <a class="meet-btn blue-btn sm-btn" href="#">搜索</a>
            <div class="apply-opt">
                <a href="add_people.html" class="js-cancle-meet" title="">
                    <i class="meet-icon icon-cancel iconc" style="">添加人员</i>
                </a>
            </div>
        </div>
        <div class="wc-container">
            <div class="dc-left dc-left2">
                <h3>组织机构信息 </h3>
                <div class="content_wrap">
                    <div class="zTreeDemoBackground left">
                        <ul id="treeDemo" class="ztree"></ul>
                    </div>

                </div>
            </div>
            <div class="dc-right dc-right2">
                <h3>@ViewBag.ApproveProcessTitle</h3>
                <ul id="applist">
                    @*<li>董事长、党委书记<span style="visibility:hidden">id-level</span></li>
                    <li>
                        <ul>
                            <li>总经理<span style="visibility:hidden">id-level</span></li>
                            <li>总经济师<i><img src="~/img/icon-del.png" alt=""></i></li>
                        </ul>
                    </li>
                    <li>董事长、党委书记</li>
                    <li>
                        <ul>
                            <li>总经理<i><img src="~/img/icon-del.png" alt=""></i></li>
                            <li>总经济师<i><img src="~/img/icon-del.png" alt=""></i></li>
                        </ul>
                    </li>*@
                </ul>

            </div>
        </div>
        <div class="form-tr-btn" style="width: 560px;">
            <button type="submit" class="meet-btn big-btn lightblue-btn js-submit">确定</button>
            <button type="reset" class="meet-btn big-btn gray-btn">取消</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
<script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
<script type="text/javascript" src="~/js/js.js"></script>
<script src="~/js/ztree/js/jquery.ztree.core.js"></script>
<script src="~/js/ztree/js/jquery.ztree.exedit.js"></script>
<script type="text/javascript" src="~/js/ztree/js/jquery.ztree.excheck.js"></script>


<script type="text/javascript">

    var setting = {
        view: {
            // addHoverDom: addHoverDom,
            removeHoverDom: removeHoverDom,
            selectedMulti: false
        },
        check: {
            enable: true,
            chkboxType: { "Y": "", "N": "" }
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        edit: {
            enable: false
        },
        callback: {
            onClick: zTreeOnClick,
            onCheck: onCheck
        } 
    };
    var apsetting = {
        data: {
            simpleData: {
                enable: true
            }
        },
        edit: {
            enable: false
        },
        check: {
            enable: false
        }
    }
    var zNodes = [
        { id: 1, pId: 0, name: "中国铁建地产集团", open: true },
        { id: 11, pId: 1, name: "开发测试", open: true },
        { id: 111, pId: 11, name: "董事会" },
        { id: 112, pId: 12, name: "总经理" }
    ];
    var nodes1;
    var appProcess
    $(document).ready(function () {
        // 加载组织树
        $.get("/SystemSetup/GetOrganizationUser", {}, function (data) {
            data = data.replace(/pid/g, 'pId')
            nodes1 = JSON.parse(data);
            $.fn.zTree.init($("#treeDemo"), setting, nodes1);
        });
        // 加载已配置审批流程
        $.get("/SystemSetup/GetApprovePrcess?appPid=@ViewBag.apppid", {}, function (data) {
            var obj = JSON.parse(data);
            appProcess = obj;
            var pname = "";
            var htm = "";
            for (var i = 0; i < obj.length; i++) {
                var o = obj[i]
                if (pname != o.pname) {
                    if (pname != "") {
                        htm += "</ul></li>";
                    }
                    htm += "<li>" + o.pname + "</li><li><ul><li>" + o.dname + "&nbsp;" + o.username + "</li>"
                    pname=o.pname
                }
                else {
                    htm += "<li>" + o.dname +"&nbsp;" + o.username + "</li>"
                }
            }
            htm += "</ul></li>";
            htm += htm;
            $("#applist").html(htm)
        });
        
    });

    function zTreeOnClick(event, treeId, treeNode) {
        console.log("id=" + treeNode.id + ", name=" + treeNode.name + ",pId=" + treeNode.pId);
    };
    function onCheck(e, treeId, treeNode) {
        
        //console.log("id=" + treeNode.id + " ,name=" + treeNode.name + " ,pId=" + treeNode.pId + ", root=" + treeNode.rname + ", level=" + treeNode.level);
        //var lev = treeNode.level+"";
        //var rootname = treeNode.rname;
        //var uname = treeNode.name
        //var depname = treeNode.getParentNode().name;
        //var userid = treeNode.id;
        //if (treeNode.checked) {
        //    // 插入流程节点
        //    var root = getCurrentRoot(treeNode)
        //    root = getNodeValue(root.id);
        //    var o = { level: lev, pname: rootname, UserName: uname, dname: depname, uid: userid }
        //    console.log(o)
        //    var c = 0;
        //    for (var i = 0; i < appProcess.length; i++) {
        //        if (parseInt(o.level) >= parseInt(appProcess[i].level)) {
        //            appProcess.splice(i, 0, o);
        //            DisplayNodeOnAppP(i, o)
        //            break;
        //        }
        //    }
        //}
        //else {
        //    // 删除流程节点
        //    for (var i = 0; i < appProcess.length; i++) {
        //        var ouid = parseInt(treeNode.id)
        //        var apuid = parseInt(appProcess[i].uid)
        //        if (ouid == apuid) {
        //            appProcess.splice(i, 1);
        //            RemoveNodeOnAppP(i);
        //        }
        //    }
        //}
        //console.log(appProcess);
    }
    function DisplayNodeOnAppP(i, o) {
        
        var childs = $(".wc-container .dc-right2>ul>li>ul>li");
        for (var j = 0; j < childs; j++) {

        }

    }
    function RemoveNodeOnAppP(i) {}
    function insertRoot(node) {
        var childs = $("#applist").children();
        for (var i = 0; i < childs.length; i++) {
            var child = childs[i]

        }
    }
    function getNodeValue(nid) {
        for (var i = 0; i < nodes1.length; i++) {
            var node = nodes1[i]
            if (node.id == nid)
                return node;
        }
        return null;
    }

    function getCurrentRoot(treeNode) {
        if (treeNode.getParentNode() != null) {
            var parentNode = treeNode.getParentNode();
            return getCurrentRoot(parentNode);
        } else {
            return treeNode;
        }
    }


    var newCount = 1;

    function addHoverDom(treeId, treeNode) {
        var sObj = $("#" + treeNode.tId + "_span");
        if (treeNode.editNameFlag || $("#addBtn_" + treeNode.tId).length > 0) return;
        var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
            + "' title='add node' onfocus='this.blur();'></span>";
        sObj.after(addStr);
        var btn = $("#addBtn_" + treeNode.tId);
        if (btn) btn.bind("click", function () {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            zTree.addNodes(treeNode, { id: (100 + newCount), pId: treeNode.id, name: "new node" + (newCount++) });
            return false;
        });
    };

    function removeHoverDom(treeId, treeNode) {
        $("#addBtn_" + treeNode.tId).unbind().remove();
    };

</script>
<script>
    //参与单位移除
    $(".wc-container .dc-right2>ul>li>ul>li i").click(function () {
        $(this).parent(".wc-container .dc-right2>ul>li>ul>li").hide();
    });

</script>



