
@{
    ViewBag.Title = "类别管理";
}


<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/style.css" />
<style>
    html, body {
        width: 100%;
        height: 100%
    }

    * {
        padding: 0;
        margin: 0
    }

    table.meet-table {
        border: none;
    }

    .meet-table tr {
        border-bottom: none;
    }

        .meet-table tr.white-bg td {
            border: none
        }

    ul li {
        list-style: none;
    }

    .block-left {
        padding-right: 0;
    }

    .meet-form.meet-form9.meet-form3 .form-tr:hover {
        background: #eaf6fd;
    }

    .canvas {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .6);
        z-index: 9999;
        display: none;
    }

        .canvas .xg-canvas_content {
            width: 450px;
            height: 200px;
            background: #fff;
            position: relative;
            top: 100px;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            border: 1px solid #008cd6;
        }

        .canvas h3 {
            height: 45px;
            padding-left: 20px;
            background: #eaf6fd;
            line-height: 45px;
            font-size: 18px;
            font-weight: normal;
            color: #008cd6;
        }

        .canvas .canvas_close {
            display: inline-block;
            width: 35px;
            height: 35px;
            font-size: 30px;
            color: #008cd6;
            top: 0;
            text-align: center;
            cursor: pointer;
            position: absolute;
            right: 10px;
        }



    .canvas_btn {
        text-align: center;
        padding-top: 100px;
    }

    .canvas-fj {
        padding-left: 5px;
        display: inline-block;
        font-size: 14px;
        color: #bfbdba;
    }

    .meet-form2 .form-tr-btn {
        text-align: center;
    }

</style>


<div class="left-nav">
    <div class="left-nav-con">
        <h1>系统设置</h1>
        <ul class="left-nav-list">
            <li><a href="/SystemSetup"><i class="icon icon-eye1"></i>组织结构</a></li>
            <li><a href="PersonalCenter"><i class="icon icon-hand2"></i>个人中心</a></li>
            <li><a href="SystemLog"><i class="icon icon-hand3"></i>系统日志</a></li>
            <li><a href="CategoryManagement" class="active"><i class="icon icon-hand4"></i>类别管理</a></li> 
            <li><a href="ApproveProcessManagement"><i class="icon icon-hand4"></i>审核流程</a></li>
        </ul>
    </div>
</div>

<div class="main-con">
    <div class="main-wrap">
        <div class="main-top typemain-top">
            <a href="#" class="active" onclick="initBusinessType()">项目类别</a>
            <a href="#" class="" onclick="companyBusinessType()">公司业务类别</a>  
            <div class="catt">
                <span>输入名称：<input name="roomInfoName" type="text" id="btype" value="" class="has-clear-input input input3"></span>
                <a href="#" class="bmgl" onclick="addBtype()">添加</a>
            </div>
        </div>
        <div class="wc-container szwc-container">
            <table class="meet-table text-left">
                <thead class="wc-header">
                    <tr>
                        
                        <td style="width:150px;padding:0 5px">类型名称</td>
                        <td style="width:150px;padding:0 5px">操作</td>
                   </tr>
                </thead>
                <tbody id="tbType"></tbody>
            </table>
            <!-- 修改类型名称 -->
            <div class="canvas canvas1">
                <div class="canvas_content xg-canvas_content">
                    <span class="canvas_close canvas_close1">×</span>
                    <h3>修改类型名称</h3>
                    <div class="wc-container ">
                            <table class="meet-form meet-form2 meet-form5">
                                <tbody>
                                    <tr class="form-tr">
                                        <td class="form-lable">类型名称：</td>
                                        <td>
                                            <input name="roomInfoName" type="text" value="" id="btname"
                                                   class="has-clear-input input input3 " />
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <input type="text" id="btid" style="display:none" />
                            <div class="form-tr-btn">
                                <button type="submit" class="meet-btn big-btn lightblue-btn js-submit addhide" onclick="updateBusinessType()">确定</button>
                                <button type="reset" class="meet-btn big-btn gray-btn addhide ">取消</button>
                            </div>
                    </div>
                </div>
            </div>


        </div>
        
    </div>
</div>
    <script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
    <script type='text/javascript' src='~/js/jquery-ui.min.js'></script>
    <script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
    <script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
    <script type='text/javascript' src='~/js/js.js'></script>
    <script>

        var addtype = "";
        function initBusinessType() {
           //项目类型
            $.post("/SystemSetup/GetSystemTypes", {}, function (data) {
                $("#tbType").empty()
                var obj = JSON.parse(data);
                var htm = ""
                for (var i = 0; i < obj.length; i++) {
                    var o = obj[i]
                    htm += '<tr class="white-bg">' +
                        //'<td class="check-color"><input class="icheck" name="id" type="checkbox" value="' + o.id + '" id="checkbox-1"/></td>' +
                        '<td>' + o.name + '</td><td><a href="#" class="xg add-img " style="display: inline-block" onclick="changename(\'' + o.name + '\',' + o.id + ')">修改</a>&nbsp;&nbsp;<a href="#" class="xg add-img" style="display: inline-block" onclick="delname(this,' + o.id + ')">删除</a></td>' +
                        '</tr>';
                }
                $("#tbType").html(htm)
            });
            addtype="1"
        }

        //公司业务类型
        function companyBusinessType() {
            $.post("/SystemSetup/GetCompanyBusinessTypes", {}, function (data) {
                $("#tbType").empty()
                var obj = JSON.parse(data);
                var htm = ""
                for (var i = 0; i < obj.length; i++) {
                    var o = obj[i]
                    htm += '<tr class="white-bg">' +
                        //'<td class="check-color"><input class="icheck" name="id" type="checkbox" value="' + o.id + '" id="checkbox-1"/></td>' +
                        '<td>' + o.name + '</td><td><a href="#" class="xg add-img " style="display: inline-block" onclick="changename(\'' + o.name + '\',' + o.id + ')">修改</a>&nbsp;&nbsp;<a href="#" class="xg add-img" style="display: inline-block" onclick="delname(this,' + o.id + ')">删除</a></td>' +
                        '</tr>';
                }
                $("#tbType").html(htm)
            });
            addtype = "2"
        }
        $(function () {
            initBusinessType()
           
        })
        function addBtype() {
            var btval = $("#btype").val();
            console.log(btval);
            if (btval.trim() == "")
            {
                alert('请输入类型名称')
                $("#btype").focus();
                return;
            }
            console.log(addtype)
            if(addtype=="1"){
                $.post("/SystemSetup/AddBusinessType", { bt: btval }, function (bid) {
                    console.log(btval)
                    var htm = '<tr class="white-bg">' +
                        '<td class="check-color"><input class="icheck" name="id" type="checkbox" value="' + bid + '"/></td>' +
                        '<td>' + btval + '</td><td><a href="#" class="xg add-img " style="display: inline-block" onclick="changename(\'' + btval + '\',' + bid + ')">修改</a>&nbsp;&nbsp;<a href="#" class="xg add-img" style="display: inline-block" onclick="delname(this,' + bid +')">删除</a></td>' +
                        '</tr>';
                    $("#tbType").append(htm);
                })
            } else {
                $.post("/SystemSetup/AddCompanyBusinessType", { bt: btval }, function (bid) {     
                    var htm = '<tr class="white-bg">' +
                        '<td class="check-color"><input class="icheck" name="id" type="checkbox" value="' + bid + '" /></td>' +
                        '<td>' + btval + '</td><td><a href="#" class="xg add-img " style="display: inline-block" onclick="changename(\'' + btval + '\',' + bid + ')">修改</a>&nbsp;&nbsp;<a href="#" class="xg add-img" style="display: inline-block" onclick="delname(this,' + bid + ')">删除</a></td>' +
                        '</tr>';
                    $("#tbType").append(htm);
                })

            }
        }
        $(".canvas_close.canvas_close1").on("click", function () {
            $(".canvas.canvas1").hide();
        })

        // 修改类型名称
        function updateBusinessType() {
            var btn = $("#btname").val();
            var bti = $("#btid").val();
            console.log(btn, bti, addtype)
            if (addtype == "1"){
                $.post("/SystemSetup/UpdateBusinessType", { id: bti, name: btn }, function () { initBusinessType() });
                return;
            }

             if (addtype == "2") {
                 $.post("/SystemSetup/UpdateCompanyBusinessType", { id: bti, name: btn }, function () { companyBusinessType(); });
                
                $(".canvas.canvas1").hide();
            }
           
            
        }


        function changename(bname, id) {
            $("#btname").val(bname)
            $(".canvas.canvas1").show();
            $("#btid").val(id)
            console.log($("#btname").val(bname))
            console.log($("#btid").val(id))
        }


        $(document).ready(function () {
            // 修改类型名称弹框
            $(".addhide").on("click", function () {
                $(".canvas.canvas1").hide();
            })
        })
        function delname(obj, btid) {
            console.log(obj.parentNode.parentNode);
            
             if (confirm("确认要删除该类型？")) {
                var row = obj.parentNode.parentNode;
                row.parentNode.removeChild(row);
                if (addtype == "1") {
                    $.post("/SystemSetup/DeleteBusinessType", {id:btid}, function () { })
                } else {
                    $.post("/SystemSetup/DeleteCompanyBusinessType", { id: btid }, function () { })
                }
            }
        }


        $(".main-top > a").on("click", function () {
            $(this).attr("class", "active");
            $(this).siblings().removeClass("active")

        })
    </script>
