
@{
    ViewBag.Title = "个人中心";
}


<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/style.css" />

<div class="left-nav">
    <div class="left-nav-con">
        <h1>系统设置</h1>
        <ul class="left-nav-list">
            @Html.Raw(ViewBag.SecondMenu)
        </ul>
    </div>
</div>

<div class="main-con">
    <div class="main-wrap">
        <div class="main-top">
            <span class="js-page-name">个人中心</span>
        </div>
        <div class="wc-container">
            <table class="meet-form meet-form2 meet-form5">
                <tbody>

                    <tr class="form-tr">
                        <td class="form-lable">部门：</td>
                        <td class="col6" id="dname"></td>
                    </tr>
                    <tr class="form-tr">
                        <td class="form-lable">用户账号：</td>
                        <td class="col6" id="useraccount"></td>
                    </tr>

                    <tr class="form-tr">
                        <td class="form-lable">输入密码：</td>
                        <td>
                            <input name="roomInfoName" id="psd1" type="password" value="" class="has-clear-input input" />
                        </td>
                    </tr>
                    <tr class="form-tr">
                        <td class="form-lable">确认密码：</td>
                        <td>
                            <input name="roomInfoName" id="psd2" type="password" value="" class="has-clear-input input" />
                        </td>
                    </tr>

                    <tr class="form-tr">
                        <td class="form-lable">姓名：</td>
                        <td>
                            <input id="uname" name="roomInfoName" type="text" value="" class="has-clear-input input input3" />
                        </td>
                    </tr>
                    <tr class="form-tr">
                        <td class="form-lable">手机：</td>
                        <td>
                            <input id="utelphone" name="roomInfoName" type="text" value="" class="has-clear-input input input3" />
                        </td>
                    </tr>
                    <tr class="form-tr">
                        <td class="form-lable">邮箱：</td>
                        <td>
                            <input id="uemail" name="roomInfoName" type="text" value="" class="has-clear-input input input3" />
                        </td>
                    </tr>
                    <tr class="form-tr">
                        <td class="form-lable">签名：</td>
                        <td>
                            <form id='bfupform1' name='bfupform' method="post" target='frameFile' action="/Common/UploadSig" enctype="multipart/form-data" style="cursor: pointer;">
                                <input type="file" name="fileInput1" id="allfileInput1" value="" style="width:190px">
                                <input type="text" id="sigCode" width="20" value="0" hidden />
                                <span style="font-size:10px; margin:0px">签名文件大小190*60，jpg格式</span>
                            </form>
                            
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="form-lable">
                            <div id="sigDiv">
                                <img id="sigPic" style="width:190px; height:60px" />
                            </div>
                        </td>
                    </tr>
                    <tr class="form-tr">
                        <td class="form-lable"></td>
                        <td>
                            <div class="form-tr-btn">
                                <button type="submit" class="meet-btn big-btn lightblue-btn js-submit">
                                    保存
                                </button>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    </div>



    <script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
    <script type='text/javascript' src='~/js/jquery-ui.min.js'></script>
    <script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
    <script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
    <script type='text/javascript' src='~/js/js.js'></script>
    <script src="~/Scripts/jquery.form.js"></script>

<script>
    $("#allfileInput1").change(function () {
        var allfileInput1 = $("#allfileInput1").val();
        if (allfileInput1 == "") { //点击取消，取消事件的编写
            return;
        }
        $("#bfupform1").ajaxSubmit(function (res) {
            console.log(res)
            $("#sigCode").val(res);
        });
    })

    $.get("/SystemSetup/GetPersenalInfo", {}, function (data) {
        var obj = JSON.parse(data)[0];
        $("#dname").text(obj.departmentname);
        $("#useraccount").text(obj.useraccount);
        $("#uname").val(obj.username);
        $("#utelphone").val(obj.telphone);
        $("#uemail").val(obj.email);
        $('#allfileInput1').val('');
        console.log(obj.sigfile)
        $("#sigCode").val(obj.sigfile)
        if (obj.sigfile != '' && obj.sigfile != '' &&obj.sigfile.length>10) {
            $('#sigDiv').show();
            $('#sigPic').attr('src', '/sigs/' + obj.sigfile);
        }
        else {
            $('#sigDiv').hide();
            $('#sigPic').attr('src', '');
        }
    })
    $(".js-submit").on("click", function () {
        var password1 = $("#psd1").val();
        var userName = $("#uname").val();
        var telephone = $("#utelphone").val();
        var email = $("#uemail").val();
        var acc = $("#useraccount").text();
        var sigName = $('#allfileInput1').val();
        sigName = sigName.substr(sigName.lastIndexOf('\\') + 1)
        var sigFile = $('#sigCode').val();
        var obj = { psd: password1, uname: userName, tel: telephone, em: email, account: acc, sn: sigName, sf: sigFile }
        $.post("/SystemSetup/UpdatePersonInfo", obj, function (res) {
            if (res = "1")
                alert('修改成功')
            else
                alert('修改失败')
            location.reload();
        })
    })
</script>