
@{
    ViewBag.Title = "个人中心";
}


<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/style.css" />

<div class="left-nav">
    <div class="left-nav-con">
        <h1>系统设置</h1>
        <ul class="left-nav-list">
            <li><a href="/SystemSetup"><i class="icon icon-eye1"></i>组织结构</a></li>
            <li><a href="PersonalCenter" class="active"><i class="icon icon-hand2"></i>个人中心</a></li>
            <li><a href="SystemLog"><i class="icon icon-hand3"></i>系统日志</a></li>
            <li><a href="CategoryManagement"><i class="icon icon-hand4"></i>类别管理</a></li>
            <li><a href="SystemUser"><i class="icon icon-hand5"></i>系统用户</a></li>
            <li><a href="ApproveProcessManagement"><i class="icon icon-hand4"></i>审核流程</a></li>
        </ul>
    </div>
</div>

<div class="main-con">
    <div class="main-wrap">
        <div class="main-top">
            <span class="js-page-name">个人中心</span>
        </div>
        <div class="wc-container">
            <table class="meet-form meet-form2 meet-form5">
                <tbody>

                    <tr class="form-tr">
                        <td class="form-lable">部门：</td>
                        <td class="col6" id="dname"></td>
                    </tr>
                    <tr class="form-tr">
                        <td class="form-lable">用户账号：</td>
                        <td class="col6" id="useraccount"></td>
                    </tr>

                    <tr class="form-tr">
                        <td class="form-lable">输入密码：</td>
                        <td>
                            <input name="roomInfoName" id="psd1" type="text" value="" class="has-clear-input input" />
                        </td>
                    </tr>
                    <tr class="form-tr">
                        <td class="form-lable">确认密码：</td>
                        <td>
                            <input name="roomInfoName" id="psd2" type="text" value="" class="has-clear-input input" />
                        </td>
                    </tr>

                    <tr class="form-tr">
                        <td class="form-lable">姓名：</td>
                        <td>
                            <input id="uname" name="roomInfoName" type="text" value="" class="has-clear-input input input3"/>
                        </td>
                    </tr>
                    <tr class="form-tr">
                        <td class="form-lable">手机：</td>
                        <td>
                            <input id="utelphone" name="roomInfoName" type="text" value="" class="has-clear-input input input3"/>
                        </td>
                    </tr>
                    <tr class="form-tr">
                        <td class="form-lable">邮箱：</td>
                        <td>
                            <input id="uemail" name="roomInfoName" type="text" value="" class="has-clear-input input input3"/>
                        </td>
                    </tr>
                    <tr class="form-tr">
                        <td class="form-lable"></td>
                        <td>
                            <div class="form-tr-btn">
                                <button type="submit" class="meet-btn big-btn lightblue-btn js-submit">
                                    保存
                                </button>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    </div>



    <script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
    <script type='text/javascript' src='~/js/jquery-ui.min.js'></script>
    <script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
    <script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
    <script type='text/javascript' src='~/js/js.js'></script>

<script>
    $.get("/SystemSetup/GetPersenalInfo", {}, function (data) {
        var obj = JSON.parse(data)[0];
        console.log(obj.departmentname)
        $("#dname").text(obj.departmentname);
        $("#useraccount").text(obj.useraccount);
        $("#uname").val(obj.username);
        $("#utelphone").val(obj.telphone);
        $("#uemail").val(obj.email);
    })
    $(".js-submit").on("click", function () {
        var password1 = $("#psd1").val();
        var userName = $("#uname").val();
        var telephone = $("#utelphone").val();
        var email = $("#uemail").val();
        var acc = $("#useraccount").text();
        var obj = { psd: password1, uname: userName, tel: telephone, em: email, account: acc}
        $.post("/SystemSetup/UpdateUserInfo", obj, function (res) {
            if (res = "1")
                alert('修改成功')
            else
                alert('修改失败')
        })
    })
</script>