
@{
    ViewBag.Title = "系统日志";
}

<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/style.css" />

<div class="left-nav">
    <div class="left-nav-con">
        <h1>系统设置</h1>
        <ul class="left-nav-list">
            <li><a href="/SystemSetup"><i class="icon icon-eye1"></i>组织结构</a></li>
            <li><a href="PersonalCenter"><i class="icon icon-hand2"></i>个人中心</a></li>
            <li><a href="SystemLog" class="active"><i class="icon icon-hand3"></i>系统日志</a></li>
            <li><a href="CategoryManagement"><i class="icon icon-hand4"></i>类别管理</a></li>
            <li><a href="SystemUser"><i class="icon icon-hand5"></i>系统用户</a></li>
            <li><a href="ApproveProcessManagement"><i class="icon icon-hand4"></i>审核流程</a></li>
        </ul>
    </div>
</div>
    <div class="main-con">
        <div class="main-wrap">
            <div class="main-top">
                <span class="js-page-name">系统日志</span>
                <div style="margin-top: 10px;">
                    <div class="search-con2">
                        <input type="text" name="keyname" placeholder="用户名称">
                        <a class="search-btn"><i class="search-icon meet-icon"></i></a>
                    </div>

                    <input name="userTimeBegin" id="userTimeBegin" class="date-input radius-sel Wdate"
                           type="text"
                           value="" placeholder="开始时间"
                           onclick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'%y-%M-%d',maxDate:''})">&nbsp;&nbsp;至&nbsp;&nbsp;<input name="userTimeEnd" id="userTimeEnd" class="date-input radius-sel Wdate" type="text"
                                                                                                                                       value=""
                                                                                                                                       placeholder="结束时间"
                                                                                                                                       onclick="WdatePicker({dateFmt:'yyyy-MM-dd ',minDate:'%y-%M-%d',maxDate:''})">
                    &nbsp;&nbsp;
                    <a class="meet-btn blue-btn sm-btn" href="#">查询</a>

                </div>
            </div>
            <div class="wc-container">
                <table class="meet-table text-left">
                    <thead class="wc-header">
                    <td class="check-color" style="width: 80px;">
                        <span class="table-all-check">
                            <input type="checkbox"
                                   class="icheck"
                                   name="all-check"
                                   id="all-check" />
                        </span>
                    </td>
                    <td>用户名称</td>
                    <td>操作类型</td>
                    <td>操作时间</td>
                    <td>描述</td>
                    </tr>
                    </thead>
                    <tbody id="tbLog">
                    </tbody>
                </table>
                <div class="page">
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="~/js/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="~/js/ztree/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="~/js/ztree/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
    <script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
    <script type="text/javascript" src="~/js/select/jquery.easydropdown.js"></script>
    <script type="text/javascript" src="~/js/upload.js"></script>
    <script type="text/javascript" src="~/js/js.js"></script>

    <script>
        $(function () {
            $.post("/SystemSetup/GetLogs", {}, function (data) {
                var obj = JSON.parse(data)
                var htm = "";
                for (var i = 0; i < obj.length; i++) {
                    var o=obj[i]
                    htm += '<tr class="white-bg">'+
                        '<td class="check-color"><input class="icheck" name="id" type="checkbox" value="' + o.id+'" id="checkbox-1" /></td >'+
                        '<td>' + o.username+'</td>'+
                        '<td>' + o.operatetype+'</td>'+
                        '<td>' + o.operatedate+'</td>'+
                        '<td>' + o.description+'</td>'+
                        '</tr >';
                }
                $("#tbLog").html(htm);
            });
            pages(1, 2, 12, 5)
        })
    </script>
